[2018-04-15 09:05] Barben360 commented on #471
Fixed in [my fork](https://github.com/Barben360/conky). I opened a pull request.

[2018-04-18 19:56] npyl opened #481 "question: Wireless stats for all Operating Systems"
Hello!
I have begun porting conky to macOS (only small steps due to school) and I noticed that Wireless Stats are only an option for Linux.  Not even FreeBSD.   Why is this? Is there some reason that we shouldn't have an option listed with `ccmake` to choose whether to build Wireless Stats or not?

Thanks!

btw: the project is located [here](https://github.com/Conky-for-macOS/conky-for-macOS)
PS:

[2018-04-20 20:35] sumdog commented on #471
I was experiencing this issue too and realized it must be related to Docker's virtual interfaces. Glad to see it's already reported.

[2018-04-26 11:40] brndnmtthws commented on #481
IMO it makes sense to have the stats for all OSs. Most likely the answer for why it's not there is that nobody wrote the code 😀

[2018-04-26 11:41] brndnmtthws commented on #471
Fixed with #479.

[2018-04-26 11:41] #471 closed

[2018-04-26 13:34] npyl commented on #481
😀 xaxa thats nice! I will make a PR once i've added the WIFI stats then! :)

[2018-04-26 13:34] #481 closed

[2018-05-01 10:03] Barben360 commented on #478
conkyrc is old syntax

[2018-05-02 14:16] sardus-X opened #483 "Problems with execibar and exec(i)graph in conky 1.10.1"
Hi All,
I'm having some problems editing a conky config: if an expression is used like,i.e.:
`${execigraph "dash ~/.conky/LOADAVG_PERC.sh 1 4" 13,185 b8001a b8001a}`,
`${execibar 10 hddtemp /dev/sda -n}`,
`${execibar 10 dash ~/.conky/TEMP.sh 0 2}`
the bars and graphs seem to work but I have an error message:
`conky: reading exec value failed (perhaps it's not the correct format?)`,
moreover if I u

[2018-05-03 12:34] #190 closed

[2018-05-03 12:48] HorlogeSkynet commented on #340
Let's close this then.

[2018-05-03 12:48] #340 closed

[2018-05-04 07:38] gandalf3 commented on #42
I started poking around with this, and I noticed that the `own_window.get(l)` check at [`x11.cc:956`](https://github.com/brndnmtthws/conky/blob/master/src/x11.cc#L956) is always coming out false even when I have `own_window = true` in my config. I had assumed that `own_window.get(l)` was checking the state of that setting (I didn't dig into the lua glue code, so I may be way off base). Am I missin

[2018-05-04 12:44] shevegen commented on #478
In this case, I believe a decent error message and graceful exit would be better than crashes or segfaults.

I can not even start conky 1.10.1 - it segfaults right away. I did not have this problem with older conky versions.

[2018-05-04 12:50] Barben360 commented on #478
The first  line is quite explicit about it as it states a syntax error and gives the line.

Have you tried starting it with a conky script adapted to the new syntax? I have no problem building and running 1.10.1.
Indeed if you want to keep your old conky files it is better to stay on an older conky version.

[2018-05-06 09:49] bad-interpreter opened #484 "Conky doesn't fallback to another font."
If I set `font = 'Droid Sans:size=9'` in options, it doesn't fallback to "Droid Sans Fallback" font if the glyph in unavailable.
I guess that's actually not a bug, but I'd love to see this implemented.

[2018-05-06 23:35] progserega commented on #478
Thank you!
I was convert config by script to new syntax and conky not crash.
Thank you very match!

[2018-05-08 13:51] sheimer opened #485 "xev doesn't get mouse events on conky window"
After upgrading to Ubuntu 18.04, the conky windows don't trigger mouse events anymore.
Following script used to work just fine:
[code]
where hdl_mouse_events parses output from
`xev -id "$winid"`

the window is configured with following settings:
[code]
conky version is 1.10.8, I don't know if that changed with the ubuntu upgrade or not.

running xev without parameter allowes to test it, and all m

[2018-05-13 18:10] lasers opened #503 "Default bar enhancements"
Greetings. Conky supports the following `default_bar` options:
[code]
[code]
I see that users can't configure strings like `default_bar_full` (default is `#`) and `default_bar_empty` (default is `_`) preventing users from getting `◼◼◼◼◼◼◼◽◽◽` instead of `#######___`.

Additionally, I wonder if it is a good idea to support `default_bar_header` and `default_bar_footer` too for brackets or such, eg `

[2018-05-14 12:03] sheimer commented on #485
if i set the own_window_type to normal, the events trigger just fine, adding own_window_hints undecorated, the events dont trigger anymore

[2018-05-20 19:33] Barben360 opened #510 "exec command: write error: Bad file descriptor"
Hello,
I just switched from Debian 9 to Ubuntu 18.04 on a same machine and my .conky script which was perfectly working doesn't anymore.
All "exec" or "execi" commands throw the following error:
`write error: Bad file descriptor`
even for simple commands such as cat or cut.
These commands work when I run them in a simple terminal.
I guess there is a problem when parsing the command output, but I d

[2018-05-20 21:37] cristianc commented on #399
After almost a year, I ask: do you need additional info? If you want, I can publish some more useful stuff, as output or logs, for example- Let me know which info you think it's important.

Regards.

[2018-05-21 09:51] Barben360 commented on #510
Problem solved using Conky directly from Ubuntu repositories instead of compiling it on the system. I don't know what the problem was.

[2018-05-22 20:24] servebeer opened #511 "When displaying temperature values in Fahrenheit, an odd "A" character is displayed"
When displaying temperature values in Fahrenheit, an odd "A" character is displayed.

I am using these commands:
Core 1 Temp:   ${exec sensors -f| grep 'Core 0'}
Core 2 Temp:   ${exec sensors -f| grep 'Core 1'}
Core 3 Temp:   ${exec sensors -f| grep 'Core 2'}
Core 4 Temp:   ${exec sensors -f| grep 'Core 3'}
HDD SDA Temp:  ${execi 300 hddtemp /dev/sda --unit=F}
HDD SDB Temp:  ${execi 300 hddtemp /d

[2018-05-23 05:00] matjam opened #512 "unnecessary drawing when certain XEvents happen"
So I'm not super familiar with the Xlib stuff, but it looks like there is a lot of unnecessary calls happening to draw_stuff() and it should not set need_to_update in the X events loop; specifically lines 2237 - 2241 in conky.cc:

[code]

If I comment out those lines (as commented), the problem goes away.

Configuration:

[code]
I'm running Ubuntu MATE 18.04 using the Nvidia binary driver under Xo

[2018-05-23 15:57] servebeer commented on #511
That did it...

Thanks!

[2018-05-23 17:36] matjam commented on #512
So I made a little animated gif that demonstrates the issue.

Offscreen, I am activating and deactivating hipchat, which is sending some events to conky that's making it redraw faster than once per second.

![video of problem](https://thumbs.gfycat.com/AdmiredDistinctFlickertailsquirrel-max-14mb.gif)

I don't believe the fix I've done is a proper fix, as I do think certain events should result in

[2018-05-24 12:34] Barben360 commented on #510
I tried to compile manually to a slightly older version (commit 1410bac6aae2775ea369fa2a67e19756ec0c9bd0) and it works.
One of the latest update broke Conky on Ubuntu 18.04 (exec, execi not working)

[2018-05-24 21:24] siiinc opened #513 "ky -v"

[2018-05-24 23:55] #513 closed

[2018-05-26 21:32] lasers opened #515 "Missing working variables with multiple out_to_xxx"
With the following config `conky.config = {out_to_x=true, out_to_console=true}`, `conky` can output the line incorrectly for the console.

Variables `${mem}` and `${membar}` were not printed in the output along with other working variables like `${memperc}` and `${memmax}`.

I was trying to understand why the behavior suddenly changed and that I didn't get correct output this time. Thinking back,

[2018-05-30 14:21] CottonEaster opened #516 "Latest git won't configure, and gives uninformative error"
[code]

[2018-05-31 11:36] brndnmtthws commented on #516
It's looking for libcurl. I'm not sure why it doesn't print a more useful error message. You can either a) install libcurl or b) disable curl.

[2018-05-31 11:36] #516 closed

[2018-05-31 14:56] CottonEaster commented on #516
Thanks,. I like option (a). However, I cannot determine which package I need to install. I have one called 'libcurl3' installed already.

[2018-05-31 15:02] CottonEaster commented on #516
Also, I find that Conky won't configure even with the 'CURL' function disabled.

[2018-05-31 15:38] CottonEaster commented on #516
I add that, in order to try to get Conky to build (which it used to be able to do on my system) I've installed a new version of CMake put links to the latter's files into /usr/local.

[2018-05-31 16:16] brndnmtthws commented on #516
Here's an example of how to build it on Ubuntu (from the Dockerfile): https://github.com/brndnmtthws/conky/blob/master/Dockerfile

You need to install a bunch of dev packages by default, or disable the features you don't want.

[2018-05-31 20:14] CottonEaster commented on #516
Thanks; I thought I had all the dependencies, but I did not. Conky now builds, albeit with warnings (see [this pastebin](https://pastebin.com/enKY0NeP)). However, when it runs, I get this:

[code]

[2018-05-31 21:22] CottonEaster opened #517 "There are no instructions for uninstalling Conky"
How does one uninstall Conky, if one built it from source? I've run `make uninstall` in various places, but so doing merely generates an error.

[2018-05-31 22:41] CottonEaster commented on #222
I have similar problems: my Cony won't run and the conversion script gives the error:

[code]

I am not even sure that my Conky config is in the old format. Is there more than one old format? Is, e.g., the following in the newest format?

[code]

[2018-06-01 05:01] dbriba commented on #517
In the INSTALL file file for conky there is:

`5. You can remove the program binaries and object files from the
     source code directory by typing `make clean'.  To also remove the
     files that `configure' created (so you can compile the package for
     a different kind of computer), type `make distclean'.  There is
     also a `make maintainer-clean' target, but that is intended mainly

[2018-06-01 10:03] CottonEaster commented on #517
Thanks.

`make clean` within the /build subdirectory worked or at least did not generate an error.

One may need also to remove a conky bin file from some system (not the source) folder. (I forget from which folder, because - since [I could not get git conky to work](https://github.com/brndnmtthws/conky/issues/516) - I reverted to the old version in my distro's repositories.)

[2018-06-01 12:08] brndnmtthws commented on #516
Is it not running? Does it print anything else? I did a big code refactor recently so it's not unlikely that master has some new bugs.

[2018-06-01 12:10] brndnmtthws commented on #517
Annoyingly CMake doesn't provide an uninstall target by default, but there are instructions here on how to do it:

https://stackoverflow.com/questions/41471620/cmake-support-make-uninstall?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

[2018-06-01 12:10] #517 closed

[2018-06-01 12:34] CottonEaster commented on #516
[Certainly](https://pastebin.com/tHF01zJw).

[2018-06-03 19:13] thevik opened #518 "${nvidia memfreq} value is half of what it should be."
This is on Arch (4.16)
GPU: ASUS Strix GTX 1070

NVIDIA X Server Settings is reporting a memory transfer rate of 8200 Mhz, but the value displayed by memfreq is 4100 Mhz.

![screenshot from 2018-06-03 15-10-30](https://user-images.githubusercontent.com/5505269/40890210-889e9f5c-6740-11e8-9477-88796dd7b3ee.png)
![screenshot from 2018-06-03 15-11-26](https://user-images.githubusercontent.com/5505269

[2018-06-06 04:49] ReductoAdAbsurdum opened #519 "Will conky slow down my computer ?"
I have a laptop with Celeron N3060 and 4GB of RAM....Will conky run properly on this setup ? will it use up too much RAM and CPU ?

[2018-06-10 04:39] dbriba commented on #518
I can see in nvidia.cc, line 1013 to 1019 :
 case ATTR_MEM_FREQ:  // memfreq (calculate out of memfreqmax)
        temp1 = get_nvidia_value(nvs->target, ATTR_MEM_FREQ, nvs->gpu_id);
        temp2 = get_nvidia_string_value(nvs->target, ATTR_PERFMODES_STRING,
                                        (char *)"memclockmax", SEARCH_MAX,
                                        nvs->gpu_id);
        value

[2018-06-10 12:05] KaMiila opened #520 "libxnvctrl build error"
Using nvidia-settings-396-24 libxnvctrl and this is what happens:

[ 97%] Building CXX object src/CMakeFiles/conky.dir/irc.cc.o
cd /tmp/SBo/conky-git20180610/build/src && /usr/bin/c++  -D_LARGEFILE64_SOURCE -D_POSIX_C_SOURCE=200809L -I/tmp/SBo/conky-git20180610/build -I/usr/include/mysql -I/usr/include/freetype2 -I/usr/include/libxml2 -I/tmp/SBo/conky-git20180610/build/data  -std=c++17 -O2 -fPIC -

[2018-06-12 07:11] KaMiila commented on #519
Yes, it will run properly on that computer.  No it will not use many resources (RAM and CPU).  I run conky on systems with much less than your computer (Raspberry Pi), you will not notice a hit to performance.

[2018-06-12 11:02] tiiiecherle opened #521 "too high cpu usage with conky"
Hey,

first of all thanks for conky, it`s awesome.

I don`t know in what correlation it occurs and with which version it started, but using conky in latest version (also with the current conky-git) an the latest xorg-server 1.20 on archlinux (with all packages up-to-date) the cpu usage of xorg jumps from 0,7% to around 3-5 %. Killing conky solves it and I know that it has not been an issue in the

[2018-06-13 16:42] su8 commented on #521
Probably related to https://github.com/brndnmtthws/conky/issues/512

[2018-06-14 09:48] Numrod opened #522 "Panel width is different from minimum_width and maximum_width"
I'm not certain this a bug, but I can't find any reference to it, so I have to assume it is one.

I use panel mode, and have `minimum_width` and `maximum_width` set to the same number. The actual width on the desktop is always 5 pixels more than `minimum_width` and `maximum_width`.

For example, if I have `minimum_width = 1000` and `maximum_width = 1000`, the actual width will be 1005 pixels.

I'm

[2018-06-15 16:58] HorlogeSkynet commented on #412
Running Conky 1.10.8 and it is crashing (buffer overflow) when `-s` is specified.
`-n` is working as expected though.

The "scope" notion does not exist in IPv4, but you may wish to have an option for network mask with `addrs` too.

Bye :wave:

[2018-06-17 11:37] desbma opened #523 "Conky crash (abort)"
I am experienceing random Conky crashes, on Arch Linux, using Conky 1.10.8, from [this package](https://aur.archlinux.org/packages/conky-nvidia/).

I am starting Conky with a systemd service, here is the full log:

[code]

I can provide the core dump, or my Conky config if needed.

[2018-06-19 12:40] npyl opened #526 "Transparency on macOS"
Hi!
@brndnmtthws  Currently this is all we can get on macOS:

![temp](https://user-images.githubusercontent.com/12190878/41597553-755c4fa0-73d6-11e8-901c-321ac314602a.jpeg)

I have no experience with X11 so I am not sure how to implement it.
Do you have any ideas?

[2018-06-20 07:03] BytEvil commented on #520
I can confirm this. Error log is [here](https://pastebin.com/dczQ1J4Y).

[2018-06-26 13:43] ranisalt opened #527 "LuaJIT on Conky"
I want to use conky but it's pulling a new dependency, Lua 5.3. Since all of my Lua-dependent packages use LuaJIT, I would like to try that on Conky too.

Is this a documented possibility, planned, or straight out unsupported?

[2018-06-26 14:47] brndnmtthws commented on #527
I've done it before, there's no reason why it shouldn't work AFAIK.

[2018-06-26 16:39] johndoe71rus commented on #475
the same situation with calculate linux 17.12.2
https://i.imgur.com/Bj69tvd.png
https://i.imgur.com/8E8F4oI.jpg

[2018-06-26 17:04] ranisalt commented on #527
So I question: how? :laughing:

[2018-06-26 18:42] brndnmtthws commented on #527
It's a drop-in replacement for Lua. You should be able to compile and link Conky against it.

[2018-06-26 20:19] ranisalt commented on #527
Sure, I modified the cmake script to search for LuaJIT. Now, I get the following error:

[code]

Might be a compiler issue, I will try clang later.

[2018-06-26 20:21] brndnmtthws commented on #527
Ah, I guess it's not actually API compatible as it claims :)

[2018-06-26 22:38] ranisalt commented on #527
It was not an issue with LuaJIT or Conky, it was ccache with invalid files :P will open a PR soon.

[2018-06-26 22:38] #527 closed

[2018-07-03 09:43] DanyGee opened #531 "Nested if_match?"
I would like my conky configs (in one file) to launch according to time.

For time <= 06 AND time >=20 - config with colors for the night.
else
config with colors for the day.

For now I have something like this, but it does not seem to work:

[code]
Conky does show nothing in this case.

conky -v
conky 1.10.1 compiled Wed Jan  6 17:11:44 UTC 2016 for Linux 3.19.0-43-generic x86_64

Compiled in fe

[2018-07-04 04:44] dbriba commented on #531
Try this
${if_match ${time %H} <= 06}${if_match ${time %H} >= 20}
night config
${else}
day config
${endif}${endif}

[2018-07-04 07:41] DanyGee commented on #531
Thanks! This worked as it should. Case closed.

[2018-07-04 16:33] dbriba commented on #531
Sorry but that don't work properly I have alway no response or "day config"
This line make better :
${if_match ${time %H} <=06}${else}${if_match ${time %H} >=20}
night config
${else}
day config
${endif}${endif}

[2018-07-04 23:27] Brainiarc7 opened #533 "Support for Intel's RAPL measurements"
Hello there,

Can Conky be used to monitor modern Intel-based hardware's power draw (per RAPL domain)?

According to [this](http://web.eece.maine.edu/~vweaver/projects/rapl/) article, reading RAPL values on current kernels (linux 3.13+) is possible without any special privileges.

Can such a feature be implemented, as a plugin?

[2018-07-05 05:47] DanyGee commented on #531
This code only shows day config. If I change the hour span to >=6 and <=20 - it shows nothing again.
Today I'll test something like this:
${if_match ${time %H} >= 6}${if_match ${time %H} <= 19}
day config
${else}
${if_match ${time %H} >= 20}${if_match ${time %H} <= 5}
night config
${endif}${endif}${endif}${endif}

[2018-07-07 05:03] dbriba commented on #531
I test your last code, but that don't work well.
I think it's not possible to chain more two if_match.
But I think this code work :

${if_match ${time %H} <=06}
night config
${endif}\
${if_match ${time %H} >=20}
night config
${endif}\
${if_match ${time %H} >=07}
day config
${endif}\
${if_match ${time %H} ==00}
night config
${endif}

[2018-07-07 05:09] dbriba commented on #531
And I see what your code don't work
there are ${if_match ${time %H} <= 19} (day config) and ${if_match ${time %H} <= 5}(night config)
that is not possible.

[2018-07-07 18:44] dbriba commented on #531
sorry but my last code don't work in every cases.
And I know why.
There is an incoherence between ${if_match ${time %H} >=07}(day config) and ${if_match ${time %H} >=20} (night config).
And I don't know how solve that...

[2018-07-08 02:40] ivankuraj commented on #32
It would be good to have a solution in a more systematic (and efficient) way, as `execpi` parses the output and can be resource-heavy...

[2018-07-08 04:07] dbriba commented on #531
Try this code, that work for me :
`${if_match ${time %H} <= 06}night config ${else}${if_match ${time %H} >= 19}night config ${else}day config
${endif}${endif}`

[2018-07-09 16:27] npyl opened #536 "XDamage support breaks SIGUSR1 support on macOS"
Hi!
I decided to bring this up here -not only in the [fork](https://github.com/Conky-for-macOS/conky-for-macOS) of conky for macOS- in order to gain some more attention and thankfully more experienced developers.

Problem is, that if you compile conky with `XDamage` support `ON`, for some reason `SIGUSR1` causes conky to crash (or Xquartz -not quite sure which of the two crashes first-) before rel

[2018-07-10 22:00] DanyGee commented on #531
Thx dbriba, this finally works as it should :+1:
![bitmoji](https://render.bitstrips.com/v2/cpanel/eb1a2ea1-7c1f-4a92-abdb-e89cdc52edfd-fe85af63-ad51-4198-8b90-cb1af6ce89fd-v1.png?transparent=1&palette=1&width=246)

[2018-07-10 22:01] #531 closed

[2018-07-12 15:21] vignesh0504 opened #537 "cmake error"
Hi

I followed installation method in this URL https://github.com/brndnmtthws/conky/wiki/Installation.
After i typed "ccmake .." and while configure i am receiving error
![screenshot1](https://user-images.githubusercontent.com/40589465/42642777-408710e8-8615-11e8-8d48-79e1ecfb157d.png). i need help

[2018-07-12 15:41] npyl commented on #537
It seems that you haven't installed git. If you are on ubuntu type: `sudo apt install git`

[2018-07-12 18:07] vignesh0504 commented on #537
Thanks for your comment. I am installing on ubuntu and now receives this error
![screenshot0](https://user-images.githubusercontent.com/40589465/42651207-5f7fde50-862c-11e8-8f18-be15facd4272.png)

I have downloaded these files imlib2;Imlib2. but i do not know which path to install it.

[2018-07-12 18:12] vignesh0504 commented on #537
Thanks for your comment. I am installing on ubuntu. Now i receives this error
![screenshot](https://user-images.githubusercontent.com/40589465/42651497-2b3b8f1c-862d-11e8-8905-1c8b1876cc9e.png)
I have downloaded these imlib2;Imlib2 but i don't know which path to install it.

[2018-07-12 18:19] npyl commented on #537
I am not sure but I think the missing package is `libimlib2-dev` on Ubuntu. So you should do: `sudo apt install libimlib2-dev`

[2018-07-12 18:34] vignesh0504 commented on #537
It worked :-). The package name was correct. Thanks.

[2018-07-12 18:34] #537 closed

[2018-07-14 05:41] ShionRyuu commented on #424
conky report error like above when window type set to override

[code]

[2018-07-20 15:19] johndoe71rus commented on #475
@dbriba
What DE do you use? Do you use compositing?

[2018-07-20 16:12] dbriba commented on #475
I use KDE with compositing enable.

[2018-07-21 21:36] mzpqnxow commented on #216
Terrible process to build this. I had a handful of PRs but I'm not sure I'm going to bother at this point. At least some documentation that says "the documentation is wrong" would be nice...

[2018-07-22 08:14] intra-au opened #538 "is_on_battery not working correctly when laptop has 2 batteries"
Hi,

My laptop has two batteries, I've wanted to use update_interval_on_battery and tried below config
[code]
What I found is Ubuntu's conky-all 1.10.8-1 doesn't have detect_battery yet so I've compiled latest code from git.
I found that as soon as I try to use update_interval_on_battery conky quits with  conky: std::bad_alloc.
After quick troubleshooting I found that existing is_on_battery functi

[2018-07-24 15:12] #216 closed

[2018-07-24 15:13] brndnmtthws commented on #419
I'm guessing you tried building with an outdated version of CMake.

[2018-07-24 15:13] #419 closed

[2018-07-24 15:15] brndnmtthws commented on #422
This was fixed with #402.

[2018-07-24 15:15] #422 closed

[2018-07-24 15:16] brndnmtthws commented on #538
Would you like to open a PR with your change?

[2018-07-24 15:52] intra-au commented on #538
@brndnmtthws Shame I'm not really github savvy so I have no idea how to do that :( If you'd like to apply the change I have no problems with that, I've posted code above to save someone else's time in case they want to troubleshoot the same issue.
I should spend more time on learning things to be able to contribute properly.

[2018-07-24 15:54] brndnmtthws commented on #538
It's quite easy: https://services.github.com/on-demand/intro-to-github/

On Tue, Jul 24, 2018, 11:52 intra-au <notifications@github.com> wrote:

[2018-07-24 18:35] CottonEaster commented on #103
I've just tried the latest Conky on Mint 19 and on first run I get `conky: basic_string::_M_create` and on subsequent runs `std::bad_alloc`. I think the errors may be lua related.

[2018-07-25 14:16] brndnmtthws commented on #103
@CottonEaster annoyingly CMake doesn't actually generate an uninstall target, so you might want to try going through the whole process again.

[2018-07-25 14:35] CottonEaster commented on #103
@brndnmtthws: thanks, but I do not understand. Are you suggesting that I restore the old, working version of conky by compiling from an older version of the source code? Anyway, I have restored an older version of conky already - by means of a system-wide restore.

[2018-07-25 14:37] brndnmtthws commented on #103
@CottonEaster I'm not sure how you uninstalled it, but I only meant that you can't do a `make uninstall` with CMake to remove Conky after you've done a `make install`.

As for your particular issue, I'm not sure what's causing that, but a lot has changed in master, so if you can capture a stacktrace with gdb that would be helpful.

[2018-07-25 14:39] CottonEaster commented on #103
I fear I do not want to risk having to do another restore. Sorry.

[2018-07-27 15:36] nabajour commented on #364
I'm not a Lua wizard, just learned a minimum while doing this, so maybe this is overly complicated and overkill. But I'm not sure dofile actually defines its variables in a namespace that gets imported in the main namespace (and if actually Lua knows about namespaces) and adds it to conky.config namespace. It didn't seem to find variables from dofile in the main config. I got this to work this way

[2018-07-27 21:39] CottonEaster commented on #103
Having reacquainted myself with [this thread](https://github.com/brndnmtthws/conky/issues/517), I've braved a reinstallation of the github version of Conky.

Results of trying to run that version are as follows.

[code]

I found that commenting-out my lua scripts, within my conkyrc, did not prevent the 'bad_alloc' error.

_But_ I found that commenting out this line, in the 'config' section of the

[2018-07-28 21:50] lasers commented on #352
@brndnmtthws @su8 Can you fix this? Pretty please? :heart:

![2018-07-28-164347](https://user-images.githubusercontent.com/852504/43360878-350c0f70-9286-11e8-9bf9-b6c1acd1472f.png)

[2018-07-29 00:15] su8 commented on #352
@lasers Look at

https://github.com/brndnmtthws/conky/blob/76f24cb626b7e46be9307c4f79360aee09533a1c/src/conky.cc#L753

or this one

https://github.com/brndnmtthws/conky/blob/76f24cb626b7e46be9307c4f79360aee09533a1c/src/conky.cc#L756

[2018-07-29 01:10] su8 commented on #352
The run `mkdir build;cd build;cmake ../;make -j4`, `src/conky -c conky.conf`

[2018-07-29 01:44] lasers commented on #352
@su8 I saw that. I was lazy (and totally unfamiliar with C++) to try it. When I tried this, `conky`'s behavior  changes dramatically between `1.10.8-2` and `1.10.9_pre` (git).

To clarify `this`, I meant `conky` itself and nothing to do with this issue so I will bisect this right now and file a bug report! Thanks to you for a fast response. :-)

[2018-07-29 01:58] lasers opened #539 "Thread running too fast. Code smelled bad."
Greetings, people!

I was using the following variables `upspeed`, `downspeed`, `totalup` and `totaldown` and the code behind that are causing conky to update too fast (eg updating nonstop instead of interval). I bisected the issue down to this commit: **Code smell fixes.** 9aed9c016f33d1e5cee25f76ce524045800f58bf

Many thanks to @su8 for helping me finding this issue. :-)

[2018-07-29 04:42] lasers commented on #539
I looked thru the commit. This works okay. Do you want this PR?
[code]

[2018-07-29 09:07] su8 commented on #352
A better approach is to use single variable to hold the **format** specifier like this:

[code]

[2018-07-29 13:41] brndnmtthws commented on #352
@su8 can you open a PR for that?

[2018-07-30 12:57] #352 closed

[2018-07-30 15:10] vuksavic opened #542 "Conky curl not displaying characters correctly"
I have this piece of code which is supposed to display my hometown's weather:
`${texeci 100 curl -s wttr.in | sed -n '3,7{s/\d27\[0-9;]*m//g;s/^..//;s/ *$//;p}'}`
Instead of showing it like [here](https://wttr.in/belgrade), it appears like this:
![conky output](https://i.imgur.com/m4xqAdS.png)
I tried changing the font, but they all produce the same output. What gives?

[2018-07-30 15:21] npyl commented on #542
Hi! These characters are escape-sequences that are used to set text / background colour in a terminal.  Conky doesn't know how to interpret them and only sees them as characters.

I havent tried it but something like [this](https://github.com/rsteube/ansi2conky) may help

[2018-07-30 15:36] npyl commented on #542
Although this script converts escape-sequences to conky-understandable variables such as `color1`, `color2`, etc, conky doesn't understand the output as its own-script thus can't replace them with actual colors.

You can see this if you put the `ansi2conky` script in the same directory as your conky-config and use this code instead:

`${texeci 100 curl -s wttr.in | sed -n '3,7{s/\d27\[0-9;]*m//g;s

[2018-07-30 15:40] npyl commented on #542
I think I got it

[2018-07-30 15:42] npyl commented on #542
I think this command fixes it:

`${eval ${execi 100 curl -s wttr.in | gsed -n '3,7{s/\d27\[0-9;]*m//g;s/^..//;s/ *$//;p}' | ./ansi2conky}}`

By using an `${eval ...}` variable whatever output comes from our code above must be processed by CONKY.

Conky will see all the `${colorX}` variables and will replace them with colors appropriately.

[2018-07-30 15:46] npyl commented on #542
Once you try it out can you post here the colors you are using 🤣? (you need to set them as for the script to work 😎)

[2018-07-30 15:49] vuksavic commented on #542
Right now I'm fighting with the fact that my .conky can't see the script right next to it... says it's not found... chmod +x, right?

[2018-07-30 15:50] npyl commented on #542
Yeah that would be a reason

[2018-07-30 15:51] vuksavic commented on #542
So close!
![heh](https://i.imgur.com/0WywBEQ.png)

[2018-07-30 15:52] vuksavic commented on #542
Is it a font issue now?

[2018-07-30 15:53] vuksavic commented on #542
Also, i'm only using FFFFFF, it's an all white Conky...

[2018-07-30 15:54] npyl commented on #542
No.  The escape-sequences on the left can be eliminated (I suppose) by patching more the `ansi2conky` script.
But that needs knowledge of reg-expressions which I don't have.  Probably someone else may be able to help you from here ☺️

For the color, it is up to you to set it using the `color0` etc variables.

[2018-07-30 16:15] npyl commented on #542
`${execpi 100 curl -s wttr.in | sed -n '3,7{s/\d27\[0-9;]*m//g;s/^..//;s/ *$//;p}' | ./ansi2conky}`

This should have the same effect with the previous code but it is now cleaner.  Not sure which is more resource consuming though.

[2018-07-30 16:18] npyl commented on #542
**NOTE:** I am testing the code on a port of conky for macOS, and `sed` is not the same here.
As a result I accidentally gave you code that uses `gsed`.
I updated the code and now it is correct, though it seems that it worked for you anyway.

[2018-07-30 18:34] vuksavic commented on #542
Resources are not a problem for me, I just need a working Conky. Thank you so much for your help, hope someone else here can also chip in with some ideas...

[2018-07-30 18:48] vuksavic commented on #542
Also, the last line of code you've sent me now displays all the info and the complete ASCII art, now it all just needs to remove the escape sequences on the beginning of every line.

[2018-07-30 19:14] npyl commented on #542
Thats awesome!

[2018-08-01 21:58] su8 commented on #439
Thanks, the indicators was just added and are in PR.

[2018-08-02 00:38] CottonEaster commented on #538
Compare the end of #103

[2018-08-02 00:43] CottonEaster opened #546 "Conky is slow in detecting network, after resumption from sleep"
Conky 1.10.9_pre
Linux Mint 19 Cinnamon

It seems the network is up quite a few seconds before Conky detects it, and I did not have this problem with the version of Conky in Mint's repositories, but it may be that some other update - to polkit, perhaps - is the source of the problem.

[2018-08-02 04:19] Vallimar opened #547 "Compile Error with BUILD_BUILTIN_CONFIG"
https://github.com/brndnmtthws/conky/blob/fa5e56720faabe56627173cc28ccf7be3ddf4a3d/src/conky.cc#L2695

When BUILD_BUILTIN_CONFIG is defined, you get an error due to an extra brace.

[code]

[2018-08-02 08:44] moyamo commented on #439
Thanks, I appreciate it :+1:

[2018-08-02 15:05] #539 closed

[2018-08-02 21:47] su8 commented on #306
Thanks for reporting this one, it's fixed in the latest commit.

[2018-08-03 13:29] brndnmtthws commented on #547
Yeah that's connect. Would you like to submit a PR to fix this?

[2018-08-03 13:55] #439 closed

[2018-08-03 13:55] #306 closed

[2018-08-03 14:18] lasers commented on #117
@brndnmtthws Can we close this?

[2018-08-03 14:32] brndnmtthws commented on #117
A segfault is a bug, with or without a workaround. I haven't looked into this one yet, however.

[2018-08-03 14:32] su8 commented on #303
Thank you for reporting, it's fixed in the following commit - https://github.com/brndnmtthws/conky/commit/7bca0ca8819f03883affa5fba9e8506d8c2c5f29

[2018-08-03 14:32] #303 closed

[2018-08-03 14:48] lasers commented on #117
`SIGSEGV` -- Internet said it is something about dereferencing a null pointer. I'd love it if you can write up a documentation on debugging conky. Do I use `strace`, `gdb`, etc? How to enable debug? Et cetera.
[code]

[2018-08-03 14:57] brndnmtthws commented on #117
gdb is the right tool for figuring out exactly where it blew up. Depending on the situation, you can either get a stack trace with the core dump or just running it in gdb.

Example:
[code]

[2018-08-03 15:11] lasers commented on #117
[code]

[2018-08-03 15:42] lasers commented on #28
@brndnmtthws Can we close this? `conky -b` works okay here.
[code]
Logo represents a successful x11 conky.

[2018-08-03 16:21] #28 closed

[2018-08-03 16:22] #542 closed

[2018-08-03 16:22] #117 closed

[2018-08-03 16:27] lasers commented on #212
@brndnmtthws Should I keep calling your name or you'll check messages? For instance, can we close this? Just a general questions/support. Thanks.

[2018-08-03 16:31] lasers commented on #519
@brndnmtthws General question/support. Please close this.

[2018-08-03 16:32] lasers commented on #511
@brndnmtthws General question/support. Please close this.

[2018-08-03 16:34] lasers commented on #229
@brndnmtthws General question/support. Please close this.

[2018-08-03 16:36] brndnmtthws commented on #212
@lasers I just made you a collaborator, so you can close them yourself :)

[2018-08-03 16:38] lasers commented on #212
You can read more about it in man page. `$ man conky`
[code]

[2018-08-03 16:38] #212 closed

[2018-08-03 16:40] lasers commented on #519
Conky will run okay on your machine. It should not use up too much resources. Thanks.

[2018-08-03 16:40] #519 closed

[2018-08-03 16:41] lasers commented on #511
Thank you @lasers for solving this problem. I appreciate it. Closing. ;-)

[2018-08-03 16:41] #511 closed

[2018-08-03 16:43] lasers commented on #229
You can read more about it in man page. `$ man conky`
[code]
[code]

[2018-08-03 16:43] #229 closed

[2018-08-03 16:50] lasers commented on #282
![2018-08-03-114553](https://user-images.githubusercontent.com/852504/43655047-1303f910-9713-11e8-903b-ec005366f8a7.png)

`[image]`

![lodupa7f537](https://user-images.githubusercontent.com/852504/43655074-32dbd0b4-9713-11e8-9134-e67467f600b6.png)

Sweet. You got this in the bag. :sunglasses: :sunglasses: :sunglasses:

[2018-08-03 16:50] #282 closed

[2018-08-03 16:55] lasers commented on #273
Some links are working now. Maybe we didn't get them all, but we'll get there. Closing duplicate https://github.com/brndnmtthws/conky/issues/98.

[2018-08-03 16:55] #273 closed

[2018-08-03 17:03] lasers commented on #197
@brndnmtthws Can you add `man conky` to `sudo make install`?

[2018-08-03 17:06] lasers commented on #234
The `--stdin-config` option is not in man page. I suppose it is okay to close this now. Thanks.

[2018-08-03 17:06] #234 closed

[2018-08-03 17:07] brndnmtthws commented on #197
It's in there, you just have to build conky with `MAINTAINER_MODE` enabled:

https://github.com/brndnmtthws/conky/blob/master/doc/CMakeLists.txt#L26

[2018-08-03 17:23] lasers commented on #197
Can you tell me how to? I don't know `make`, `cmake`, etc. I got `cmake --enable-maintainer-mode` to compile without issues, but I don't know the right answer. Also, I need to know so I can close this issue and document this somewhere on wiki.

[2018-08-03 17:44] lasers commented on #305
Almost two years later... I hope the documentations are reasonably acceptable now. Thanks.

[2018-08-03 17:44] #305 closed

[2018-08-03 17:54] su8 opened #552 "New function convert the first letter of each word to upper case"
Hello @brndnmtthws , @lasers

Guys do you think that adding the following function is worth it ?

[code]

[code]

[2018-08-03 17:58] lasers commented on #472
I don't believe this is a bug because some variables/objects requires `conky` to be running at all times for the numbers to be printed correctly... perhaps to calculate differences between intervals or to accumulate values over intervals. This is one of them.
[code]
Compare `conky -i 1` and `conky -i 10`. You'll see it's working okay. The first interval is always `0.0`.

[2018-08-03 17:58] #472 closed

[2018-08-03 18:08] lasers commented on #552
Too early to tell right now without a list of variables/objects mostly likely to using this function.

[2018-08-03 18:18] brndnmtthws commented on #197
`cmake MAINTAINER_MODE=ON .`

[2018-08-03 18:19] lasers commented on #197
I found it awhile ago, but ran into this.
[code]

[2018-08-03 18:20] brndnmtthws commented on #552
I'm not opposed to it, but it seems like something with limited utility. If you want to code it up, that's fine by me.

[2018-08-03 18:24] lasers commented on #478
Everything worked out better than expected. :-) Closing.

[2018-08-03 18:24] #478 closed

[2018-08-03 18:30] lasers commented on #170
Resolved. Nice work, mister. Closing.

[2018-08-03 18:36] lasers commented on #57
Chalking this up as an odd case and move on. Also, `${hddtemp /dev/sda}` work okay for me.

[2018-08-03 18:36] #57 closed

[2018-08-03 18:48] lasers commented on #159
I don't know what you're trying to fix, but the page looks nice. If you want to contribute more, you can help out with the [wiki](https://github.com/brndnmtthws/conky/wiki) and/or report bugs. Thanks. Also, we're on Ubuntu 18.04.1 LTS now. :-)

[2018-08-03 18:48] #159 closed

[2018-08-03 19:03] lasers commented on #164
Presumably, this problem was solved years ago. Closing.

[2018-08-03 19:03] #164 closed

[2018-08-03 19:08] su8 commented on #35
@lasers pinky-bar frees it (https://github.com/su8/pinky-bar/blob/master/src/freebsd_functions.c#L200), will do the changes right away.

[2018-08-03 19:17] lasers commented on #112
Closed by https://github.com/brndnmtthws/conky/pull/192. Thanks. :+1:

[2018-08-03 19:17] #112 closed

[2018-08-03 19:22] lasers commented on #102
@su8 I assume this does not happen anymore, but can you check this?

[2018-08-03 19:39] lasers commented on #329
Questions possibly answered. Thanks everyone. :+1:

[2018-08-03 19:39] #329 closed

[2018-08-03 19:46] su8 commented on #102
Same here, nothing new appears.

[2018-08-03 19:47] #102 closed

[2018-08-03 20:05] su8 commented on #376
@lasers This issue has been fixed.

[2018-08-03 20:32] lasers commented on #376
@su8 Can you supply a PR / commit for historical purposes?

[2018-08-03 20:39] lasers commented on #187
Closed by https://github.com/brndnmtthws/conky/pull/108. Nice easy fix. Thanks. :+1:

[2018-08-03 20:39] #187 closed

[2018-08-03 20:45] su8 commented on #376
@lasers Here's the commit - https://github.com/brndnmtthws/conky/commit/61c0dfaf60d78641fcce8c49e80bbed098f98559

[2018-08-03 20:52] lasers commented on #376
Issue closed by https://github.com/brndnmtthws/conky/pull/429. Thank you @su8 :-)

[2018-08-03 20:52] #376 closed

[2018-08-03 20:55] lasers commented on #288
Solved by #459.

[2018-08-03 20:55] #288 closed

[2018-08-03 21:04] lasers commented on #473
Clever use of `${if_existing }`. 4 months passed so I'll be closing this. Thanks.

[2018-08-03 21:04] #473 closed

[2018-08-03 21:11] lasers commented on #401
@sdban What about now? Your config worked okay for me.

[2018-08-03 21:12] su8 commented on #206
@lasers I'm not getting a segfault/coredump, if you get can you `gdb()` it ?

[2018-08-03 21:15] su8 commented on #20
@lasers Can you have a look ?

[2018-08-03 21:19] lasers commented on #206
Segfault just with
[code]
[code]

[2018-08-03 21:21] lasers commented on #20
@su8 I tried. Not familiar with locale. Tried Italy. Didn't get commas to display. Maybe I did it wrong.

[2018-08-03 21:23] lasers commented on #470
Are you still having this issue? What is `gpustat`?

[2018-08-03 21:48] lasers commented on #403
Here you go. http://manpages.ubuntu.com/manpages/latest/en/man1/conky.1.html

You can convert man pages to PDFs. `$ man -t conky | ps2pdf - conky.pdf`

I hope this is sufficient. Thanks. Closing.

[2018-08-03 21:48] #403 closed

[2018-08-03 21:54] su8 commented on #206
If we change https://github.com/brndnmtthws/conky/blob/master/src/proc.cc#L243

to

[code]

we no more get segfault/coredumps, but whatever pid number is passed the whole "if" section goes to "else" where it's printed **$pid_nice didn't receive a argument**.

[2018-08-03 22:09] lasers commented on #206
I got the same thing from this diff. `conky: $pid_nice didn't receive a argument`.

When I tried `conky.text = [[${top pid 1}]]` instead, I get segfault in terminal, but few `[New Thread 0x7fffee01d700 (LWP 26553)]` in the gdb. Anyhow, I think I got this different one, but ur diff probably fixed it...
[code]
Not sure what you want to do here. Give it to Brenden?

[2018-08-03 22:17] lasers commented on #206
Your fix does not work for me. I think I get a thread running or something, but no output in the terminal. "Frozen".

[2018-08-03 22:23] lasers commented on #206
@su8 The fix is good. :heart:
[code]

[2018-08-03 22:27] lasers commented on #520
Ditto.
[code]

[2018-08-03 22:28] #408 closed

[2018-08-03 22:38] lasers commented on #477
Thank you for being helpful. 4 months passed so I'll be closing this. Thanks.

[2018-08-03 22:38] #477 closed

[2018-08-03 22:42] lasers commented on #432
8 months passed and many things were merged. Is it still causing the same problem for you today?

[2018-08-03 22:50] lasers commented on #87
I'm closing 3 years, 2 months old issue. f you're still experiencing issues with `execi timeout`, chime in here with many details as you can.... and we'll open this again. Otherwise, it's all in the past.  Thanks.

[2018-08-03 22:50] #87 closed

[2018-08-03 23:07] lasers commented on #211
Issue solved by a kind and helpful person. Many thanks.

[2018-08-03 23:07] #211 closed

[2018-08-03 23:45] lasers commented on #80
Ping received. Allegedly fixed by #119.

[2018-08-03 23:45] #80 closed

[2018-08-04 00:10] lasers commented on #414
Hi there. It has been almost a year now. Is this still happening for you? My findings today is not same here. From what I gather, `conky` have an unspecified interval so it can be fluid... based on the supplied variables/objects. Yes, it can be several seconds late.

However, if you add `update_interval=1` to `conky.config ={}`, then it's always right on time. Maybe slightly earlier than other mpd

[2018-08-04 00:28] lasers commented on #437
8 months passed. No replies to first two comments. This issue likely does not matter anymore. Closing.

[2018-08-04 00:28] #437 closed

[2018-08-04 00:33] lasers commented on #522
Can you share the conky config file? Have you tried running this under... maybe `openbox` to rule out potential `xfce4`-related behaviors?

[2018-08-04 00:34] lasers commented on #485
Can you git bisect to find out which commit is causing this change?

[2018-08-04 00:39] #280 closed

[2018-08-04 00:51] lasers commented on #474
Author reads documentations. https://www.kernel.org/doc/Documentation/hwmon/sysfs-interface

[2018-08-04 01:02] lasers commented on #404
A year and two weeks passed. I suppose you don't need this issue to stay opened. Closing.

[2018-08-04 01:02] #404 closed

[2018-08-04 01:13] lasers commented on #210
inb4 https://github.com/su8/pinky-bar/blob/master/src/weather.c

[2018-08-04 01:48] WinEunuuchs2Unix commented on #170
Just installed 1.10 because 1.9 is no longer available in Ubuntu and notice conky screen flickering frequently with skylake processor. Also pre-exec command no longer supported and must resort to exec instead. Although converting 1.9 scripts to 1.10 is an option it should not be necessary for users. That said earlier versions of 1.10 couldn't run my 1.9 conkyrc at all so I had to pin / mark hold a

[2018-08-04 01:56] lasers commented on #170
If you receive conky screen flickering frequently on 1.10, but not 1.9, then you should try and git bisect this... so you can find the bad commit. You would have to compile `conky` repeatedly between commits.

[2018-08-04 02:01] WinEunuuchs2Unix commented on #170
My luck with compiling grub for UEFI left a bad taste in my mouth. Compiling for i386-pc was ok... Anyway changing `maximum_width 400` to `maximum_width 1920` and adding a new line `maximum_height 1080` made the flicker go away. The opaqueness (right word?) got darker though but I can adjust that later. Thanks for quick response :)
maximum_height 1080

[2018-08-04 02:25] lasers commented on #461
`gw_iface`, `eval`, `downspeedf eno1`
[code]

That following trick looks like a placebo as it gave me this.

`gw_iface`, `eval`, `downspeedf eno1`
[code]
I think it's a bug too.

[2018-08-04 02:36] lasers commented on #146
Duplicate #62. Closing.

[2018-08-04 02:36] #146 closed

[2018-08-04 02:48] lasers commented on #129
Reportedly fixed by referenced pull requests.

[2018-08-04 02:48] #129 closed

[2018-08-04 03:01] lasers commented on #483
3 months passed. I'm going ahead and close this. Here's what I think.

* Missing code for `~/.conky/LOADAVG_PERC.sh`. Can't tell what's in it.
* Missing code for `~/.conky/TEMP.sh`. Can't tell what's in it.
* Running `hddtemp /dev/sda -n` can produce this output...

[code]
which could be why you received `reading exec value failed` message. You should take all variables out and start putting one i

[2018-08-04 03:01] #483 closed

[2018-08-04 03:42] lasers commented on #435
Can you still reproduce this? And do you have a new syntax conkyrc?

[2018-08-04 04:29] lasers commented on #43
4 years, 6 months passed. He ghosted. This bug is marked invalid due to wrong font usages. He wanted `Aller`, `Aller:bold` (or) `Aller Light`, `Aller Light:bold`.... not `Aller`, `Aller Light`.

![aller](https://user-images.githubusercontent.com/852504/43672509-0238c158-9775-11e8-8594-3cdcaa84d2fd.png)

[2018-08-04 04:29] #43 closed

[2018-08-04 04:52] #338 closed

[2018-08-04 05:26] lasers opened #555 "journal: segfault"
`Program received signal SIGSEGV, Segmentation fault.`
[code]

[2018-08-04 05:48] lasers commented on #413
INSTALL documentation has been removed recently (388f47f20ee349bca5d6d75fef57e78186cf0e1d) in favor of the wiki link above. Closing.

[2018-08-04 05:48] #413 closed

[2018-08-04 06:10] lasers commented on #130
Hi everybody. Housekeeper here. Are we good here to close this issue? `[[${mem} / ${memwithbuffers} / ${memmax} :: SWAP ${swap}/${swapmax}]` seems identical to htop. Let me know. Thanks.

[2018-08-04 06:20] #66 closed, assigned to nobody

[2018-08-04 06:29] lasers commented on #98
The links here are mostly invalid. The wiki seems to be working okay. Closing now. Thanks. :+1:

[2018-08-04 06:29] #98 closed

[2018-08-04 06:49] lasers commented on #114
That anchor does not exist anymore.
* Old archive. https://archive.fo/I14TP
* Current: https://wiki.archlinux.org/index.php/Conky#Transparency

Thanks. Closing.

[2018-08-04 06:49] #114 closed

[2018-08-04 07:44] lasers commented on #109
Solved by #134 and https://github.com/curl/curl/issues/342. One less issue to worry about. Thanks.

[2018-08-04 07:44] #109 closed

[2018-08-04 07:55] lasers commented on #128
Issue supposedly partially finished at this time.

[2018-08-04 08:07] lasers commented on #476
I'm closing this due to lack of information.

If you're still experiencing this, please reopen with more information. We'll be wanting your config and steps to trigger this behavior. If you know `conky` will crash, run it under `gdb` (eg `gdb conky`) until the crash occurred. From there, type `bt full`. That's the log they want... then we'll find out if it's fixable. Thanks.  If nothing happened,

[2018-08-04 08:07] #476 closed

[2018-08-04 08:14] lasers commented on #167
Resolved by #254.

[2018-08-04 08:14] #167 closed

[2018-08-04 08:20] #393 closed, assigned to nobody

[2018-08-04 08:48] #100 closed

[2018-08-04 08:53] su8 commented on #520
@lasers I don't have nvidia gpu to test this out :{

[2018-08-04 08:54] lasers commented on #520
@su8 I do. A cheap one anyway. Can you figure out from here and send diffs my way? Hardcore mode.

[2018-08-04 09:05] lasers commented on #94
3 years, 1 month passed. I'm inclined to close this right away. A lot has changed and merged.

For debugging, we can use `gdb conky`. Wait for it to crash, then run `bt full` to obtain a log. It helps. The log above is sparse and does not say much so we're probably better off not worrying about it.

Thanks. Automatically closing this after a few minutes.

[2018-08-04 09:05] #94 closed

[2018-08-04 09:08] su8 commented on #94
You forgot the `run` mate :}

[2018-08-04 09:11] lasers commented on #331
@su8 I believe this is resolved, but can you check https://github.com/brndnmtthws/conky/issues/332 too? They're related via commit.

[2018-08-04 09:17] su8 commented on #331
@lasers `goto` works fine on my system.

[2018-08-04 09:17] lasers commented on #331
@su8 Okay, so I take it both issues are resolved?

[2018-08-04 09:38] #92 closed

[2018-08-04 09:44] su8 commented on #474
@lasers can you test my latest commit and verify it ?

[2018-08-04 09:52] lasers commented on #474
`conky.text = [[${hwmon 0 temp 1 1.0 0.0} // ${hwmon 0 temp 1 1000.0 0.0 0.0}]]`

How should I round it to 1 or 2 decimal places?

[2018-08-04 10:06] lasers commented on #68
3 years, 10 months passed. It's time for someone to close this issue. Thanks.

[2018-08-04 10:06] #68 closed

[2018-08-04 10:08] su8 commented on #474
You can't round it lower than 2 decimal places, e.g: 56 can't become 5.

[2018-08-04 10:10] lasers commented on #474
Going off his word, but I think he want precision. `40750` --> `40.7` or `40.75`

[2018-08-04 10:15] su8 commented on #474
With the current code we can't print float

https://github.com/brndnmtthws/conky/blob/7bca0ca8819f03883affa5fba9e8506d8c2c5f29/src/linux.cc#L1230

https://github.com/brndnmtthws/conky/blob/4b92556fca9cbede3cbac4112f0a24b554390099/src/temphelper.cc#L63

I'll poke around to create second wrapper around the "temp", instead using `hwmon 0 temp 1 1.0 0.0` to become `hwmon 0 temp2 1 1.0 0.0`

[2018-08-04 10:41] su8 commented on #474
@brndnmtthws Will you accept by default to print the numbers in float instead pure integer ?

So
https://github.com/brndnmtthws/conky/blob/4b92556fca9cbede3cbac4112f0a24b554390099/src/temphelper.cc#L58

to become:

[code]

[2018-08-04 10:47] lasers commented on #538
@intra-au Hi. Rather than leaving your issue sitting here for months, I'm willing to apply this patch for you. You didn't give out a diff so can you make sure this is correct? Thank you. https://github.com/brndnmtthws/conky/compare/master...lasers:intra-au

[2018-08-04 11:04] lasers commented on #400
Nice job with the bar. Seems like we're done with this issue now. Closing this. Thanks.

[2018-08-04 11:04] #400 closed

[2018-08-04 11:12] intra-au commented on #538
Hi @lasers ! Sorry I've been busy with work... Thanks, it looks correct!

[2018-08-04 12:05] su8 commented on #474
@lasers Can you test my latest commit with the following in **conky.conf**:

[code]

where **temp2** should print the temperature in floating mode.

[2018-08-04 12:26] #552 closed

[2018-08-04 12:30] npyl opened #557 "Question: Which is conky's main loop"
Does anyone happen to know which is conky's main loop (I have seen the function `main_loop` in `conky.cc`) but I wasn't really sure if it fits my needs.

I am trying to implement some macOS functionality and in order for that to happen I need to know if conky has shown all variables of the config file for the first time (<=> first iteration).  I am planning to set a flag upon first iteration of ma

[2018-08-04 12:40] su8 commented on #557
https://github.com/brndnmtthws/conky/blob/cb5833e2fc147a2d578fbf0e0e7b2aeb1e3d6fc8/src/conky.cc#L3066

https://github.com/brndnmtthws/conky/blob/cb5833e2fc147a2d578fbf0e0e7b2aeb1e3d6fc8/src/conky.cc#L2878

https://github.com/brndnmtthws/conky/blob/cb5833e2fc147a2d578fbf0e0e7b2aeb1e3d6fc8/src/conky.cc#L2684

[2018-08-04 12:50] npyl commented on #557
Thank you but I think I am searching for something else! I am searching for the loop that is responsible for calling the functions that gather info for the conky-variables.  Such functions are e.g `update_cpu_usage()` and `update_net_stats`.

[2018-08-04 12:58] npyl commented on #557
Thank you! But this doesn't to help my goal.

To make things clearer, I am trying to implement `update_cpu_usage` for multiple cores.
The way I understand it, conky parses the config file, sees what variables are in there and creates a loop that in every iteration calls the respective functions (that gather info for the variables).

Upon first iteration end, I need to set a flag `conky_workloop_en

[2018-08-04 13:50] su8 commented on #557
You can test against

https://github.com/brndnmtthws/conky/blob/cb5833e2fc147a2d578fbf0e0e7b2aeb1e3d6fc8/src/core.cc#L669

so here `cpu` can be tested with `strncmp("cpu", s, 3)` where `s` is the source string provided to you when it's parsed. You can have `extern cpu_var;` that just increases it's number or other logic.

That's the configuration options parser and the variables that are extracted

[2018-08-04 15:49] su8 commented on #555
I guess that `read` in

[code]

is overflowing the maximum `p` size, so a check of `if (p_max_size < read) {}` should be done several times.

[2018-08-04 17:54] OmegaPhil commented on #130
Yep, is fine here with 1.10.8-1 - thanks for the ping, closing.

[2018-08-04 17:54] #130 closed

[2018-08-04 18:37] su8 commented on #555
On manjaro without this patch conky crashes, with it everything is working fine.

![screenshot_2018-08-04_19-36-00](https://user-images.githubusercontent.com/29376083/43679481-583113da-9815-11e8-8783-d24f983a5f96.png)

[2018-08-04 19:08] brndnmtthws commented on #474
@su8 yeah I think having decimals for temp by default is fine.

[2018-08-04 19:16] #46 closed

[2018-08-04 19:37] su8 commented on #35
Thank you for reporting, it has been fixed in https://github.com/brndnmtthws/conky/commit/a3b7905df65a1c5bafce65e42aac09fbef346bfe commit

[2018-08-04 19:37] #35 closed

[2018-08-04 19:37] su8 commented on #206
Thank you for reporting, it has been fixed in https://github.com/brndnmtthws/conky/commit/a3b7905df65a1c5bafce65e42aac09fbef346bfe commit

[2018-08-04 19:37] #206 closed

[2018-08-04 19:38] su8 commented on #474
Thank you for reporting, it has been fixed in https://github.com/brndnmtthws/conky/commit/a3b7905df65a1c5bafce65e42aac09fbef346bfe commit

[2018-08-04 19:38] #474 closed

[2018-08-04 23:34] lasers commented on #388
[code]
That output seems to be supposedly fixed. [bugzilla.gnome/769566](https://bugzilla.gnome.org/show_bug.cgi?id=769566) via [`eb01ba`](https://gitlab.gnome.org/GNOME/gtk/commit/eb01ba8573bec47e02c8fc4eaf10e2f7cff522dd) so it is hard for us to reproduce this behavior without `gedit`.

[2018-08-04 23:42] progserega commented on #435
I convert to new syntax:
https://pastebin.com/pLpyCms0
Now conky work more stable. But time to time it is sigfault. I will try send backtrace when it is down.

[2018-08-05 00:28] lasers commented on #452
If you're still experiencing this, open a terminal and start `gdb conky` then (qdb) `r -c /path/to/your/conky.conf` to run your conky. When `conky` crashes, run (qdb) `bt full` to print the backtrace. We want that backtrace. Thanks.

[2018-08-05 00:45] lasers commented on #222
Run `dos2unix` on your new config first before using `convert.lua`. Tested okay.

[2018-08-05 00:45] #222 closed

[2018-08-05 01:15] CottonEaster opened #561 "New version of conky fails to recognise wifi after suspend; old version halts shutdown"
I have a version of Conky taken from github a day or so ago. It takes some five minutes to recognise my wifi, after the computer resumes from suspend (and has problems with battery power, but that is being worked upon: #538). (Admittedly, I have reported this problem with wifi-sleep before: #546.) I would use the older version of Conky - the one in my repositories (version 1.0.8-1) - but that one

[2018-08-05 01:24] lasers opened #562 "conky: old config Syntax error and dos2unix"
I wonder if the code for `extras/convert.lua` and `conky` should run `dos2unix` on the configs first before the conversion to prevent fewer issues for the users since they often get their configs from internet.

Here I'm wgetting the old config syntax.
[code]
[code]
Dos2unix.
[code]
[code]
This should prevent some more issues like https://github.com/brndnmtthws/conky/issues/222 in future.

[2018-08-05 01:31] lasers commented on #436
It might be important to mention https://github.com/brndnmtthws/conky/pull/233 here before @brndnmtthws decides what to do here.

[2018-08-05 01:55] lasers commented on #561
I think to help you best, we would need you to `git clone https://github.com/brndnmtthws/conky` and compile from there. When you said `a version of Conky`, it's meaningless without a number.

If you really want to solve this issue, then you'll have to get dirty too for a while. I'm unfamiliar with `make`, but I think @su8 may be more than helpful to walk you through.

Maybe @su8 can try and spot b

[2018-08-05 03:07] lasers commented on #45
Reportedly fixed by #384. Thanks.

[2018-08-05 03:07] #45 closed

[2018-08-05 03:14] lasers commented on #355
`${fs_used /} // ${fs_size /}` works okay for me. `156G // 431G`.

I can't `cmake` anything in 2017 to bisect a bad commit so I'll take your word for it. Thanks!

[2018-08-05 03:14] #355 closed

[2018-08-05 03:26] lasers commented on #220
`${top user 1}` worked okay here in console. Always first `root`, then `$USER`. Are you still experiencing this? How long does it generally take to crash due to this variable? Thanks.

[2018-08-05 03:33] lasers commented on #424
Hi. If you're still experiencing this, can you `gdb conky` + (gdb) `run` until it crashes, then (gdb) `bt full` to print out a backtrace. Paste it here. Thanks.

[2018-08-05 03:38] CottonEaster commented on #561
Sorry if I was unclear about the version. I meant that I had indeed, very recently, compiled from git clone https://github.com/brndnmtthws/conky. I have done the same a few hours ago; my conky version and basic configuration is, now, as follows.

[code]

The shutdown problem (#233) does indeed seem solved. The same goes for the battery problem (#528) As to the network problem (this bug report, and

[2018-08-05 03:52] lasers commented on #417
Hi. Is this still a problem for you? How did you change `pulseaudio` volumes? Is it possible that you were changing `alsa` volume or changed volume on different sink instead of `default` sink? Did you compare with `pulseaudio` tools too (eg `pactl list sinks`) to see if anything matches up to your new value?

[2018-08-05 03:53] lasers commented on #417
@su8 `pa_volumebar` looks broken to me. I expect something like `###___` instead of `\n`
[code]
[code]

[2018-08-05 06:12] lasers commented on #193
2 years 7 months passed. You must be 69 years old now... and still drunk, I suspect. ;-)
Anyway, here on my Arch machine, I was able to cmake `conky` okay with all `BUILD_LUA_*` flags.
[code]

Here's a Changelog for the two `luamm.*` files since this issue was opened.
[code]

First, we have a `DockerFile` now and it does have the same flags above.
Second, it's possible that this issue is unrelated

[2018-08-05 06:12] #193 closed

[2018-08-05 06:16] lasers commented on #263
Everyone, please try again. I need to know if it is okay to close this. This might had been fixed already by commit eebc8c65 which contains lot of build fixes. It touched `lua` files too. Thanks.

[2018-08-05 06:55] lasers commented on #32
It's not a bug. It's a feature. :laughing: What if an user want some lines to shift a bit left or right? Or to print different colors per line? That's just two examples. Conky offer way more than that.

Here, I'm making a nice rainbow out of `cal`.
[code]
I think we should respect newlines anyway not for `x`, but for `console`, `ncurses`, et cetera too. @brndnmtthws, please chime in with your thou

[2018-08-05 07:00] lasers commented on #523
Do that in first place as it would had helped. If you're having this issue, open a terminal and run `gdb conky` then (gdb) `run -c ~/your_conky.conf`. Wait for a crash to occur then do (gdb) `bt full` to get a backtrace. We want that backtrace. Also, don't forget your conky config. Thanks.

[2018-08-05 07:14] lasers commented on #174
2 years 8 months passed. This works okay now.
[code]
We need to fix warnings everywhere though. Thanks for dropping in. Closing.

[2018-08-05 07:14] #174 closed

[2018-08-05 07:31] lasers commented on #49
Latest comment from the link above.
[code]
Closing due to 4 years and 2 months of inactivity. Open again if you are still affected. Thanks.

[2018-08-05 07:31] #49 closed

[2018-08-05 08:55] lasers commented on #153
Fixed via https://github.com/brndnmtthws/conky/pull/192. Many thanks @marcpayne for this work.

Merged 3 years, 9 months, 18 days after the issue on SourceForge.
Merged 2 months, 18 days after this report.
Closing this issue 2 years, 7 months, 7 days after the merge.
Closing this issue after 2 years, 9 months, 27 days.
Somebody ought to close the issue on SourceForge.

[2018-08-05 08:55] #153 closed

[2018-08-05 09:06] lasers commented on #89
3 years 2 months passed. Can you try this again with the new syntax? I don't know if you're still using conky, MATE DE, or Gnome DE. What's the status of this issue now? Let me know. Thanks.

[2018-08-05 09:28] MeisterP commented on #388
Yes, gedit is fixed indeed.
The issue still happens though. The output is just a `[` from time to time (like in the screenshot). Unfortunately I haven't found a way to reliably reproduce it.

[2018-08-05 09:41] lasers commented on #391
1 year 3 months passed. Can you paste your conky config? I'm unable to print red `own_window_colour` with either flag. Is the problem still same for you or did something changed? Thanks.

[2018-08-05 09:51] lasers commented on #145
Fixed via various comments and/or solutions. Closing due to inactivity. Thanks.

_Mix and match solutions make the world go round._  ♩♪ ♫ ♬ ♭ ♮ ♯

[2018-08-05 09:51] #145 closed

[2018-08-05 09:53] lasers commented on #468
Hi. Is this still a problem? Can you try again? Perhaps you need to enable some flags first?

[2018-08-05 10:00] lasers commented on #240
Duplicate https://github.com/brndnmtthws/conky/issues/32. Closing.

[2018-08-05 10:00] #240 closed

[2018-08-05 10:15] lasers commented on #388
Hi. Quick question. What version are you on right now?

Does `{journal 10 xxx}` work for you? Try `xxx` with both `user` and `system`.

[2018-08-05 10:25] powerman commented on #468
How it can disappears if latest version is still the same (1.10.8)?
As for flags - maybe, but can you please be more specific about which configure flags should be enabled to make this feature work? Or just check flags used on Gentoo with my setup:
[code]

[2018-08-05 10:50] hawran opened #564 "Conky cores with a lot of docker runs."
Hi,
When I run a lot of docker runs (a bunch of batch tests, kicked off from the CLI, just `docker run ...`, an output from tests to stdout, however, a quite a few of runs in a while), conky cores from time to time.

I've managed to catch some info as follows:

**conky cored:**
[code]

**conky failed (no core file):**
[code]

**System Info:**
[code]

What's the problem?

Regards,
haw

[2018-08-05 10:51] MeisterP commented on #388
`app-admin/conky-1.10.8-r1 ` on gentoo

well, `${journal 10 system}` obviously works since those are errors coming from gui apps that run as a user and therefore don't appear on system level. `${journal 10 user}` shows the same issues as just `${journal 10}`, which is a combination of user and system.

unfortunately I've just noticed that the issue isn't 100% reproducible with `gnome-calendar`. It

[2018-08-05 10:52] lasers commented on #468
I was made `Collaborator` 42 hours ago and had closed more than 60 issues already. I'm hitting everybody up right now invaliding issues, asking for updates, or to look for more information.

I don't know much about conky, but am aware that it contains flags such as `BUILD_JOURNAL` to use `{journal}`, otherwise I will get same `conky: unknown variable '$journal'` like the one in this issue. To test

[2018-08-05 11:03] desbma commented on #523
Will do, but you already have a stack trace above which shows abort is called from malloc.
It seem to occur mostly when I am under high CPU load.

[2018-08-05 11:07] powerman commented on #468
Well, I do have /dev/mixer:
[code]

[2018-08-05 11:08] lasers commented on #388
Lol. I think there is a regression because I get `conky: invalid arg for journal, type must be 'system' or 'user'` with `${journal 10 user}`. With `${journal 10}`, I don't see anything other than a date. I'm bisecting this right now.

![2018-08-05-060255_300x300_scrot](https://user-images.githubusercontent.com/852504/43685259-4f0b739e-9875-11e8-9158-18d4a46ac1b2.png)

[2018-08-05 11:09] desbma commented on #523
My config: https://pastebin.com/raw/d7C5KQXr

[2018-08-05 11:10] powerman commented on #468
One possible candidate for mixer-related flags is `-DBUILD_PULSEAUDIO=no` - I've it disabled because I use alsa and don't use pulseaudio. But conky previously worked with alsa just fine, so availability of `$mixerbar` shouldn't depend on pulseaudio.

[2018-08-05 11:26] lasers commented on #468
IIRC `pulseaudio` provide abstraction for `alsa` so you should at least try it.

[2018-08-05 11:37] lasers opened #565 "journal: regression results in an invalid arg and mixed bugs"
I was going through @MeisterP's https://github.com/brndnmtthws/conky/issues/388 when I noticed something. I was not able to specify optional args and @MeisterP had no problem doing that with `app-admin/conky-1.10.8-r1 on gentoo` version.

4b92556fca9cbede3cbac4112f0a24b554390099 is the first bad commit
[code]
You can use this config.
[code]

NOTE: `${exec journalctl -n 5}` is broken somewhere betw

[2018-08-05 11:47] lasers commented on #564
Try again with (gdb) `bt full` as it should be more useful.

[2018-08-05 12:15] lasers commented on #169
This happened in tag `1.999`, `v1.10.0`, and `v1.10.0-rc1` for me.
`v1.10.1` stopped complaining about that. We're probably okay here. Closing this.

[2018-08-05 12:15] #169 closed

[2018-08-05 12:24] lasers commented on #468
Just a head up. I tried it here with `BUILD_PULSEAUDIO=NO` and got same output above.

[2018-08-05 12:28] powerman commented on #468
I doubt in this, alsa is low level, pulseaudio is high level - at least in OS, not sure about conky implementation. I can't try it because if I enable it I'll have to install pulseaudio, but I dislike it and don't wanna have it installed (because then some apps will try to use it by default, which force me to setup it, etc.).

[2018-08-05 13:33] lasers commented on #391
Okay. Apparently, I did something wrong earlier. I tried this with `BUILD_XDBE=ON` and `BUILD_XDBE=OFF`. Both gave me what I want. We need `own_window = true` in the config too.

Here's a catch... I find that if we don't use quotes for `own_window_colour`... with either flag, we will get black window instead of `red` ~~herring~~ window.  It has been like this since `v1.10.7`. I'm unable to `cmake`

[2018-08-05 13:38] lasers commented on #547
Closed by https://github.com/brndnmtthws/conky/pull/566 and https://github.com/brndnmtthws/conky/pull/563. I'm an idiot. Sorry about that. :face_with_head_bandage:

[2018-08-05 13:38] #547 closed

[2018-08-05 13:56] lasers commented on #36
I'm copying and pasting everything here.

## Conky Window Size Problem
_Posted on March 24, 2013 by Fahad Ahammed_

There is a common problem about conky window size . If you are using a huge conky then this problem will arise . Height of your conky will show problem . Conky window height will show as half or not full . Here i am giving an effective solution .

![conky-window-1](https://user-image

[2018-08-05 14:15] lasers commented on #411
A year passed. Are you still experiencing this issue? It looks like something `libc` would do. `$ man libc`

[2018-08-05 14:30] lasers commented on #517
You could try `sudo ln -sf ~/src/conky/build/src/conky /usr/local/bin/conky` instead of `make install`. Use `make -j4` instead and keep everything in the `conky` folder.

[2018-08-05 15:37] lasers commented on #468
Indeed. I forget I'm on `v1.10.9_pre`. I checked out `v1.10.8` and got the same thing.
[code]
I think it's safe to say your issue has been resolved already.

[2018-08-05 15:42] lasers commented on #435
Run (gdb) `bt full` instead of (gdb) `bt`.  Thanks. Are you still on `1.10.1-3` ?

[2018-08-05 16:02] lasers commented on #65
Closing this due to duplicate https://github.com/brndnmtthws/conky/issues/210 even although you were the first one to request this. \o/

[2018-08-05 16:02] #65 closed

[2018-08-05 16:10] lasers commented on #386
@heisenbugh What's the status of this issue? Do you still need this or is it okay to close this?

[2018-08-05 16:29] lasers commented on #339
Duplicate https://github.com/brndnmtthws/conky/issues/320. Closing.

[2018-08-05 16:29] #339 closed

[2018-08-05 16:35] lasers commented on #320
Resolved by #213? Closing?

[2018-08-05 17:05] fictionic commented on #414
Hey, you're right. It all seems to be resolved now. Thanks for the heads up!

[2018-08-05 17:05] #414 closed

[2018-08-05 17:12] CottonEaster commented on #411
No, I no longer have the problem, thank you.

[2018-08-05 17:12] #411 closed

[2018-08-05 17:15] CottonEaster commented on #517
Thanks. However, I am inclined to try your suggestion - viz., substitute

1. `sudo ln -sf ~/src/conky/build/src/conky /usr/local/bin/conky`

and

2. `make -j4`

for the `make install` command - only if you are confident it will cause no problems or complications.

[2018-08-05 17:16] lasers commented on #394
Uh... About that... It has been 1 year 2 months 23 days already. I'll close this on your behalf. Thanks.

[2018-08-05 17:16] #394 closed

[2018-08-05 17:50] lasers commented on #20
@su8 I tried git bisect here to `1.9.0`. Earlier tags does not contain `cmake` stuffs. :-(

US.
[code]
DK.

[code]

[2018-08-05 18:38] CottonEaster commented on #517
Thanks. Partly because I do use lua functions from within conky (lua functions I wrote myself), I will stick with the 'make install' method, but thank you for the tip about `build/install_manifest.txt`.

[2018-08-05 18:54] lasers commented on #389
Hi. Some forum suggested `window_type = 'normal'`. See if that does anything for you. Are you still having this problem or have you moved on to different tools? Let me know. Thanks. I'd double check with Virtualbox help too to determine if it's something caused by `conky` or `Virtualbox`. Thanks.

[2018-08-06 02:25] lasers commented on #106
3 years 1 month passed. I found a duplicate behavior https://github.com/brndnmtthws/conky/issues/421#issuecomment-33774168 with newer date Oct 18, 2017.

_Using that instead..._

10 months passed. Too much has changed. We can track changes no more than with `git log -p 2600d013..HEAD --follow -- src/specials.cc`. That will give us three commits to work with.
[code]
The last commit looks unrelated

[2018-08-06 02:34] lasers commented on #395
Missing `lua51` triggered this problem. Solution provided, thanks! @ghost ghosted. Closing.

[2018-08-06 02:34] #395 closed

[2018-08-06 02:44] lasers commented on #266
2 years 3 months passed. A lot has changed in the code to promptly track this bug. We also don't have conky config so we can't identify the conky objects/variables too. Closing. Thanks for the report.

[2018-08-06 02:44] #266 closed

[2018-08-06 03:57] lasers commented on #456
config
[code]
file: fake-syslog.log
[code]
output
[code]

It does not do that here. Can you try again with `v1.10.8` or `v.10.9_pre`? Thanks.

[2018-08-06 04:30] lasers commented on #139
2 years 11 months passed. The log is generic and we don't see any core dumps here thus we can't analyze anything further about this issue. Thanks for the report. We need to fix #520 first too.

Superseded by https://github.com/brndnmtthws/conky/issues/520. Closing.

[2018-08-06 04:30] #139 closed

[2018-08-06 04:40] lasers commented on #343
1 year 9 months passed and a lot has changed. Your config contains a troublesome setting parameter `update_interval_on_battery = 10` which may have been fixed recently by https://github.com/brndnmtthws/conky/issues/538. I'm going to close this. Please re-open if you're still having issues with this. Thanks.

[2018-08-06 07:11] su8 commented on #311
@lasers There are error handlers

https://github.com/brndnmtthws/conky/blob/0a17be8a9d2e94bf24297035a9ed442693fd773e/src/x11.cc#L430

https://github.com/brndnmtthws/conky/blob/0a17be8a9d2e94bf24297035a9ed442693fd773e/src/x11.cc#L431

@brndnmtthws should we enable the error handlers by default and not only for "DEBUG" purposes ?

[2018-08-06 07:36] lasers commented on #311
@su8 Try it and see? I'm thinking maybe we should have a configuration setting for this.

[2018-08-06 07:49] lasers commented on #143
Almost 3 years passed. Can you determine if you're still having this problem today? Thank you.

[2018-08-06 07:50] su8 commented on #561
That gotta be wireless-tools/iwlib, we should change the wireless interface to libnl instead.

[2018-08-06 08:02] su8 commented on #461
With the current code, once the variables are parsed they are cleared out:

https://github.com/brndnmtthws/conky/blob/c771698d5a171cb15ef44d042f42f9c866537934/src/conky.cc#L904

[2018-08-06 08:11] lasers commented on #461
@su8 Is that for `${eval xxx}`? `${downspeedf $gw_iface}` is the problem here as it should behave similar to the `${pid_nice ${top pid 1}}`

[2018-08-06 08:25] su8 commented on #461
@lasers with the current code

https://github.com/brndnmtthws/conky/blob/7bca0ca8819f03883affa5fba9e8506d8c2c5f29/src/net_stat.cc#L110

parses the argument which must not be a variable

[2018-08-06 08:44] lasers commented on #469
Hi. I do not see anything in the documentation about conky having an ability to paint colored background texts... We need to add that first before we can think about adding reverse. The solution today would be to use `${if_xxx }` variables to paint identical texts in different color instead.

[2018-08-06 09:19] sebma commented on #470
@lasers gpustat is PYPI Python module : https://pypi.org/project/gpustat/

[2018-08-06 10:01] lasers commented on #470
@sebma Thank you for that. So I tried `gpustat` and did not have this problem on `conky 1.10.8` or `conky 1.10.9_pre`.
[code]
[code]
I take it you were on `conky 1.10.7` or earlier. Do you still have this issue? Let me know. Thanks.

[2018-08-06 10:46] lasers commented on #446
Hi @mwht, can you give us an update? Where do we stand today? Does it still crash for you on `v1.10.8` or `v1.10.9_pre`? If you are able to reproduce this crash, please run (gdb) `bt full` instead of (gdb) `where`. Thank you.

[2018-08-06 10:54] lasers commented on #475
@johndoe71rus Anything new with this issue? Have you tried `compton`?

[2018-08-06 11:34] su8 commented on #523
We need the `bt full` to debug even further.

[2018-08-06 11:55] lasers commented on #522
Can I have your config, please?

[2018-08-06 12:27] sebma commented on #470
@lasers You are right, I'm using the conky version packaged along with Ubuntu 17.10 (Artful) :
[code]

[2018-08-06 12:37] sebma commented on #470
@lasers I have just build conky from your master branch. Can you please add `libxml2-dev` and `libimlib2-dev` to your [list of dependencies](../wiki/Installation)

[2018-08-06 12:56] su8 commented on #197
@lasers I'm getting

[code]

[2018-08-06 12:56] lasers commented on #470
@sebma Thanks for the response. It's just matter of upgrading then. `1.10.7` segfaulted for me so I take it that Conky 2 had some rough kinks to work out. I added the missing build dependencies at your request. I'm going to close this now. Have a great day. :+1:

[2018-08-06 12:56] #470 closed

[2018-08-06 12:57] lasers commented on #197
@su8 Do you have `*docbook*` intsalled? Maybe `docbook2x`

[2018-08-06 13:04] su8 commented on #197
[code]

[2018-08-06 13:08] lasers commented on #197
From what I gather, Conky 1 is rewritten to make Conky 2 possible. This happened not too long ago so I'm guessing this part hadn't been worked on for some time now. I'm pinging @brndnmtthws because I wanted to close this, #520, etc. :-)

[2018-08-06 13:26] lasers commented on #220
Closed via 25eac4c.

@su8 Just FYI.
* https://help.github.com/articles/closing-issues-using-keywords/
* https://blog.github.com/2013-01-22-closing-issues-via-commit-messages/
* [https://:heart:](https://wallpapertag.com/wallpaper/full/e/1/a/714497-beautiful-love-wallpaper-1920x1080-hd.jpg)

[2018-08-06 13:26] #220 closed

[2018-08-06 13:43] su8 commented on #555
The patch has been mergein in https://github.com/brndnmtthws/conky/commit/4155ac253b77ff736a1fd32ef61dde15f636b16a#diff-70c6a976d8cb5453c87fb78639c96f37R133 :octocat:

[2018-08-06 13:46] #555 closed

[2018-08-06 14:00] #313 closed

[2018-08-06 14:29] lasers commented on #128
![2018-08-06-092748_235x968_scrot](https://user-images.githubusercontent.com/852504/43722506-08b1795c-995b-11e8-9d8f-c12ae8f08b5d.png)
[code]

[2018-08-06 14:36] lasers commented on #128
@su8 All three cpugraphs came out different due to `-t`, `-l`, and `-t -l` flags. Everything seems to be working okay, I figure nothing is better than checking codes. The guy who made the PR said it was partially completed so I don't know where we stand here. If you can't find anything wrong, then maybe it is good enough... Still, I prefer @brndnmtthws to sign off on this first.

[2018-08-06 14:48] lasers commented on #116
Hi everybody. Where do we stand here today? Keep this open or close?

[2018-08-06 14:54] su8 commented on #128
![](https://user-images.githubusercontent.com/29376083/43724016-5a25f93c-9999-11e8-93b6-0f9a5ffb975d.png)

[2018-08-06 15:05] CottonEaster commented on #561
Actually I think the problem might be that Conky as a whole freezes after suspend. And I think that the cause might be this: lua scripts of mine that do not abort if there is no conky window. But I am guessing, and older versions of conky did not have the problem.

[2018-08-06 15:06] sebma commented on #470
@lasers Thanks. Have a nice day also :-)

[2018-08-06 15:25] lasers commented on #441
Silly bug, indeed.

![cpugraph_reset](https://user-images.githubusercontent.com/852504/43725680-c8b6a004-9962-11e8-8254-4c291449733e.gif)
[code]

[2018-08-06 15:28] su8 commented on #106
I couldn't find any `'(unsigned long) (size) >= (unsigned long) (nb)'` traces in the current code. Otherwise `current->type = t;` is a **special type enum, e.g. alignc, alignr, fg, bg**

[2018-08-06 15:35] lasers commented on #106
Guy got it in `1.10.6`. Have you looked in that version? 4cd04f00 for `1.10.6` or e94f0494 for `1.10.5`. It looks like nothing changed between commits... Is only code smellz so it had to be somewhere. I dunno.

[2018-08-06 15:39] hawran commented on #564
Finally I've managed to reproduce the issue (really a bunch of runs):
[code]
I hope it helps.

[2018-08-06 16:00] lasers commented on #368
Did you find a solution to your problem?

[2018-08-06 16:08] lasers commented on #399
Hi. Can you determine if you're still having this problem today on `1.10.8` or preferably `1.10.9_pre` (git)? We probably want your conky config too just in case. If you have some useful stuffs such as output or logs, publish away.

If it disappear (i.e. crash), then please run it from the terminal this time..  `gdb conky`, then (gdb) `run -c ~/path/to/your/conky.conf`... then click again to make

[2018-08-06 16:37] sebma commented on #470
@lasers Where is the man page ?

[2018-08-06 16:46] sebma opened #572 "conky: unknown variable '$nvidia'"
Hi,

I get errors when loading conky v1.10.9_pre :

[code]

Here is my [conky.conf](https://github.com/brndnmtthws/conky/files/2263368/conky.conf.txt)

[2018-08-06 16:48] plikhari commented on #116
On Arch Linux have a look at this link [my AUR packages](https://aur.archlinux.org/packages/?SeB=m&K=paramvir)

We need to patch conky and tolua++. These patches have their origin in the Fedora project - I found during testing conkywx that Fedora was using lua 5.3 ...

[2018-08-06 17:18] lasers commented on #470
http://manpages.ubuntu.com/manpages/bionic/en/man1/conky.1.html

Rather than a continuation, Conky 2 were revamped with new changes since `1.10` or so. `1.10.9_pre` is a continuation of ironing out the kinks and bugs... and to catch up with new changes, new compiling stuffs, manual pages, and dealing with long overdue bugs.

With Conky 1.10 (or Conky 2), we have new syntax, more lua stuffs, etc. I

[2018-08-06 17:32] lasers commented on #572
Mostly likely related to #520. It does not work with `1.10.9_pre` right now. It's off by default too.

You can downgrade to `1.10.8` and compile with `BUILD_NVIDIA=ON`.
[code]

[2018-08-06 17:39] lasers commented on #520
@su8 What do you need from me? nvidia is important for many users. Need this in 1.9.

[2018-08-06 17:48] su8 commented on #520
@lasers You need to find out which header file contains `XNVCTRLQueryTargetAttribute , XNVCTRLQueryTargetStringAttribute` as /usr/include/NVCtrl/NVCtrlib.h maybe doesn't include those functions anymore.

[2018-08-06 17:50] lasers commented on #311
@su8 Same author https://github.com/brndnmtthws/conky/issues/312

[2018-08-06 17:51] su8 commented on #520
You can type `grep -Ril 'XNVCTRLQueryTargetAttribute' /usr/include` `grep -Ril 'XNVCTRLQueryTargetStringAttribute' /usr/include`

[2018-08-06 17:53] lasers commented on #520
[code]
[code]

[2018-08-06 17:53] su8 commented on #311
@lasers we need @brndnmtthws agreement to include the error handlers by default and not only for debugging purposes.

[2018-08-06 17:55] su8 commented on #520
[code]

[2018-08-06 17:59] lasers commented on #520
[code]

[2018-08-06 17:59] su8 commented on #520
I've edited it to <NVCtrl/NVCtrl.h>

[2018-08-06 18:01] lasers commented on #520
How do I log this to a file? It worked, but I think it's bunch of `gcc` errors.

[2018-08-06 18:02] su8 commented on #520
make -j4 2>&1 >> log.txt

[2018-08-06 18:10] lasers commented on #520
What about logging cmake?

[2018-08-06 18:11] su8 commented on #520
`cmake .. 2>&1 >> log.txt`

[2018-08-06 18:12] lasers commented on #520
Same thing. It does not log everything.

[2018-08-06 18:13] lasers commented on #520
Partial...
[code]

[2018-08-06 18:15] su8 commented on #520
[code]

[2018-08-06 18:18] lasers commented on #520
Partial...
[code]

[2018-08-06 18:49] lasers commented on #298
2 years 1 month passed. Can you determine if you're still having this problem today on `1.10.8` or `1.10.9_pre`? The older versions are not trustworthy. Thank you.

[2018-08-06 18:51] lasers commented on #99
3 years 1 month passed. Can you determine if you're still having this problem today on `1.10.8` or `1.10.9_pre`? The older versions are not trustworthy. Thank you.

[2018-08-06 18:59] lasers commented on #88
3 years 2 months passed. Can you determine if you're still having this problem today on `1.10.8` or `1.10.9_pre`? The older versions are not trustworthy. Thank you. Possibly resolved by #173's PR.

[2018-08-06 19:02] lasers commented on #39
4 years, 7 months passed. Can you determine if you're still having this problem today? Thank you.

[2018-08-06 19:10] lasers commented on #249
2 years 3 months passed. Can you determine if you're still having this problem today on `1.10.8` or `1.10.9_pre`? The older versions are not trustworthy. Thank you.

[2018-08-06 19:38] titanofold commented on #39
I can! Well, in a bit when I get home.

[2018-08-06 19:39] lasers commented on #74
3 years, 8 months passed. Do you still need this feature? Let us know. Thanks.

[2018-08-06 19:54] lasers commented on #348
Great solution, sir. I will be closing this issue for real this time.

[2018-08-06 19:54] #348 closed

[2018-08-06 19:59] lasers commented on #467
Duplicate https://github.com/brndnmtthws/conky/issues/364. Closing.

[2018-08-06 19:59] #467 closed

[2018-08-06 20:04] lasers commented on #132
3 years passed. Can you determine if you're still having this problem today on 1.10.8 or 1.10.9_pre? The older versions are not trustworthy.

If it's still hapening, run `gdb conky` then (gdb) `run -c ~/path/to/conky.conf`. Wait for the crash to occur again... then (gdb) `bt full` to get a backtrace. We want that backtrace. Thank you.

[2018-08-06 20:04] su8 commented on #75
@lasers we need @brndnmtthws as I don't understand cmake how to find linkage dependencies.

[2018-08-06 20:07] NoXPhasma commented on #249
Yes, the problem still persists. Without `xinerama_head = 1` conky will always start on the right monitor, instead of the left.

Here's my xrandr output, if that might help:
[code]

[2018-08-06 20:17] lasers commented on #324
Supposedly solved by abeadb59 6 long years before you made this issue.

[2018-08-06 20:17] #324 closed

[2018-08-06 20:48] lasers commented on #345
1 year 9 months passed. Can you determine if you're still having this problem today on 1.10.8 or 1.10.9_pre? The older versions are not trustworthy.

If you can reproduce, please explain this issue again as I didn't quite understand this one. It's not clear what you saw and what you were expecting to see... And the link goes to your project. Many thanks.

[2018-08-06 20:52] lasers commented on #158
2 years, 10 months passed. Do you still need this feature? Let us know. Thanks.

[2018-08-06 20:59] lasers commented on #259
@su8 `${gw_iface iface1}`, `${gw_iface iface2}`, `${gw_iface iface3}`...?

[2018-08-06 22:51] npyl commented on #557
Thank you for your help I think I have solved my problem!

[2018-08-06 22:51] #557 closed

[2018-08-07 02:27] lasers commented on #461
Closed by #571 :ok_hand:

[2018-08-07 02:27] #461 closed

[2018-08-07 02:37] lasers commented on #77
[code]

[2018-08-07 05:07] lasers commented on #156
2 years 10 months passed. Can you determine if you're still having this problem today on `1.10.8` or `1.10.9_pre`? The older versions are not trustworthy. Do you still consider this a bug? Thanks.

[2018-08-07 06:32] lasers commented on #191
![2018-08-07-005430_229x181_scrot](https://user-images.githubusercontent.com/852504/43756984-d65483be-99dc-11e8-8b2a-a476d7db0812.png)

2 years, 8 months passed. Okay, I understand what you want. You want `{battery_status}` to print `Discharging`, `Charging`, `Full`, `Empty`, `Unknown`. We should add this so you can use this with conky conditionals.

I think we should remove percentages too... in

[2018-08-07 07:13] lasers commented on #503
I wonder if it is better to make `${bar ...}`  instead

[code]

Colors?
[code]
Remove code issues and inconsistencies around bar variables. Any percent should be okay here.

What about percents that goes beyond `100%`, eg `volume 120%`? :-)

[2018-08-07 08:46] dmknght commented on #452
Hi! My Parrot Sec upgraded conky to 1.10.8 and it didn't crash again. My conky in Debian 9 is using 1.10.6 version and it crashes rarely and i don't know how did it crashed.

[2018-08-07 09:00] johndoe71rus commented on #475
no news. yes i try compton without success.

[2018-08-07 09:11] lasers commented on #452
Good to know you don't have this problem on `1.10.8` or `1.10.9_pre`. The older versions are not trustworthy due to too many changes that can be hard to track.

P.S...
To highlight text, wrap text in graves \` like this... \`example\` --> `example`.
To put text in code style, wrap them in triple graves \`\`\` like this...

\`\`\`
code example
code example
code example
\`\`\`
[code]
Since you said

[2018-08-07 09:11] #452 closed

[2018-08-07 09:25] sebma commented on #470
@lasers Thanks

[2018-08-07 09:29] su8 commented on #259
@lasers Don't have multiple interfaces on my machine, but I wrote some simple implementation.

[code]

[2018-08-07 09:29] sebma commented on #572
@lasers Here is what I get :
[code]

[2018-08-07 09:30] su8 commented on #572
[code]

[2018-08-07 09:31] lasers commented on #170
`1.10.0`? I would like for you to tell me if this is still happening on `1.10.9_pre` (git). We're using `cmake` now since `1.10.8` or so... Compiling conky should be relatively painless now.

Depending on what variables/object you have in your `conky.conf`, you may have to enable some flags first (eg `cmake -DBUILD_JOURNAL ../`) to use `{journal}`. NVIDIA variables does not work right now.

You co

[2018-08-07 09:34] Vladimir-csp commented on #259
Not sure how `gw_iface` is relevant here and why it would take an interface as an argument?

[2018-08-07 09:35] sebma commented on #572
@su8 Sorry, I had forgotten to `cd build`, now here is what I get :

[code]

[2018-08-07 09:40] lasers commented on #572
@su8 I have my doubts about `nvidia` working in `1.10.8`  in first place. I never knew if it did, but I think what happened is that somebody made a patch to deal with this. See https://aur.archlinux.org/packages/conky-nvidia/. They expressed issues too. Maybe it's too old now to bisect when it last worked.

I compiled okay in `1.10.8`, but segfaults.
[code]

[2018-08-07 09:42] lasers commented on #572
@sebma `Unable to find XNVCtrl library`. You need to install this. NVIDIA NV-Control X extension.

[2018-08-07 10:02] sebma commented on #572
@lasers On Ubuntu, I get this :
[code]

[2018-08-07 10:09] lasers commented on #572
Hm, I'd ask Ubuntu forums for support. Can you live without `{nvidia}` variables for now?

Temporary solution. Use something like this...
[code]
See `nvidia-smi --help-query-gpu` for list of variables, but it might hard to find out what you want and if that variable work (otherwise you get `Not Supported`). I listed three.

[2018-08-07 10:12] su8 commented on #259
@Vladimir-csp with this patch the variable `gw_iface` takes numbers starting from 0 and prints the interface name. So you type `${gw_iface 0}` and prints the first encountered interface name from `/proc/net/route`.

[2018-08-07 10:28] lasers commented on #259
@su8 Tested. It looks same as before. I get iface 1, iface2, or multiple. Connecting or disconnecting does not change the output. I had to refresh conky for interfaces to print different.

@Vladimir-csp I presume we don't want to mix interfaces with other interfaces like `docker0`.

[2018-08-07 10:30] su8 commented on #435
@lasers same malloc.c file that doesn't exists anymore in the current master branch.

[code]

@progserega can you test the current master branch ?

[code]

[2018-08-07 10:34] lasers commented on #435
@su8 Duplicate https://github.com/brndnmtthws/conky/issues/77? He have teh `mpd` variables too.

[2018-08-07 10:38] su8 commented on #435
@lasers #77 is different, as **lua** failed there.

[2018-08-07 10:41] lasers commented on #106
@su8 No `malloc.c` here too. Keep this open or close?

[2018-08-07 10:43] Vladimir-csp commented on #259
I had different idea, something more persistent, analogous to output of
`ip -o link show | cut -d ':' -f 2`
And that can be mapped to indexed variables (`${iface0}, ${iface1}, etc...`), irregardless of current routing table.
Something like this would be possible then:
[code]

[2018-08-07 10:54] su8 commented on #106
Wait till mister Brenden releases a new conky version, so people can upgrade/migrate to the newer version.

[2018-08-07 11:31] sebma commented on #572
@lasers Sure. Thanks a lot. I'll post my question on the forums.

[2018-08-07 11:39] lasers commented on #86
@su8 Easy fix?
[code]

[2018-08-07 11:51] Vladimir-csp commented on #259
Are you proposing a config parameter to define how ifaceX variables would be filled? If so, there could be two of them:
[code]
Or condensed to a single parameter (full equivalent of the above):
[code]

More sophisticated alternative: `${iface "regexp" 1}` which means list all ifaces, filter list by regexp (as second variant above), return item 1. It might be more flexible. `${iface "!lo*,!docker*"

[2018-08-07 13:02] lasers commented on #208
Duplicate https://github.com/brndnmtthws/conky/issues/334. Closing.

[2018-08-07 13:02] #208 closed

[2018-08-07 13:15] progserega commented on #435
Hmm... ubuntu 16.04...

CMake Error at CMakeLists.txt:22 (cmake_minimum_required):
  CMake 3.6 or higher is required.  You are running version 3.5.1

-- Configuring incomplete, errors occurred!

[2018-08-07 13:29] progserega commented on #435
:laughing:

[2018-08-07 14:02] lasers commented on #197
@su8 Do you have `docbook-xsl` installed? Try it and see.

[2018-08-07 14:07] lavacano201014 opened #580 "execbar broken"
[code]

all return empty bars, with and without the extra quoting around the whole command. cpubar works fine.

conky 1.10.8, Gentoo Linux.

[code]

[2018-08-07 14:09] su8 commented on #197
Yes I have.

[2018-08-07 14:15] lasers commented on #197
See `./doc/README.docs`. If nothing turns up, I'll stop bothering you about this. *cross fingers*

[2018-08-07 16:13] lasers commented on #86
Closed via https://github.com/brndnmtthws/conky/pull/581

[2018-08-07 16:13] #86 closed

[2018-08-07 17:39] desbma commented on #523
Last 2 core dumps:
* https://www.dropbox.com/s/9biig37fyr215tk/conky_1.core.xz
* https://www.dropbox.com/s/ru2ozsp4itekvcv/conky_2.core.xz

Without a debug build, `bt full` is useless:
[code]

[2018-08-07 17:56] su8 commented on #523
Can you crash the current master branch ?

[code]

[2018-08-07 18:30] lasers commented on #20
@su8 Just in case you missed the latest comment, I can test this now.

[2018-08-07 18:39] su8 commented on #20
This line is skipped when using locales that use ','

https://github.com/brndnmtthws/conky/blob/7bca0ca8819f03883affa5fba9e8506d8c2c5f29/src/algebra.cc#L158

and returns

https://github.com/brndnmtthws/conky/blob/7bca0ca8819f03883affa5fba9e8506d8c2c5f29/src/algebra.cc#L168

which causes the "bad argument" to be printed

https://github.com/brndnmtthws/conky/blob/7bca0ca8819f03883affa5fba9e8506d8c2c

[2018-08-07 18:41] su8 commented on #20
Can you test this:

[code]

[2018-08-07 18:46] lasers commented on #20
It works. The numbers get printed with comma too. Lazy copied the example above.
[code]

[2018-08-07 18:48] lasers commented on #20
This happens in the master too. Hmm. Actually, I think this is okay as-is. *Duh*.

[2018-08-07 18:51] su8 commented on #20
Open up a pull request with this change as I'm lazy to do it :hamburger:

[2018-08-07 18:54] lasers commented on #20
You're not lazy. I'm ~~lasers~~ lazier. I'm wondering about something. If this contains a comma, should you not swap characters around first?
* If comma detected...
  * Replace period with uniq char
  * Replace comma with a period
  * Replace uniq char  with comma
 * Compare

Does that make sense or am I thinking too much?

[2018-08-07 18:57] su8 commented on #20
That's the current country standard, why changing it to other ?

[2018-08-07 19:03] lasers commented on #20
Idk. Noob here. I'll make a pull request at your request. What is `if (*p == '.') {` for?

[2018-08-07 19:38] lasers commented on #20
Closed via https://github.com/brndnmtthws/conky/pull/585 :wave:

[2018-08-07 19:38] #20 closed

[2018-08-07 19:58] su8 commented on #523
To add debugging flag:

[code]

[2018-08-07 21:10] lasers commented on #520
@su8
[code]
[code]

[2018-08-08 08:59] su8 commented on #520
@lasers Nice one. Can you compile the master branch with `-ggdb` flag:

[code]

[2018-08-08 09:05] lasers commented on #520
There is `#include "NVCtrl/nv_control.h"` too, but I think we don't need it. It throws problems anyway.

Is this from `git diff`? I'm getting an error.

[2018-08-08 09:14] lasers commented on #520
[code]

[2018-08-08 09:32] lasers commented on #311
Closed via https://github.com/brndnmtthws/conky/pull/588.

[2018-08-08 09:32] #311 closed

[2018-08-08 09:32] su8 commented on #520
Oh instead `-ggdb` try with `-g2` (will print most information) or just `-g`

[2018-08-08 09:34] lasers commented on #520
Is that correct... `#312` closed via `#588` too? Will `-g2`.

[2018-08-08 09:35] su8 commented on #312
Can be closed by #311

[2018-08-08 09:39] lasers commented on #520
[code]

[2018-08-08 09:41] lasers commented on #312
Closed via #588.

[2018-08-08 09:41] #312 closed

[2018-08-08 09:51] su8 commented on #520
What happens when you comment in the following code:

[code]

[2018-08-08 09:55] lasers commented on #520
This `diff` is not good too. Daqfu. I deleted the lines instead.

It worked!!!   Not perfect, but it worked!!!!
[code]
[code]

[2018-08-08 09:59] su8 commented on #520
So for some reason the `XNVCTRLQueryTargetCount(dpy, translate_nvidia_target[tid], &num_tgts)` function call causes a segfault, wow.

[2018-08-08 10:06] lasers commented on #520
What variables? I tried initial 1, -1, 2, and 0.

[2018-08-08 10:07] su8 commented on #520
Just in the range of -10/10

[2018-08-08 10:07] su8 commented on #520
The `int num_tgts;` variable.

[2018-08-08 10:14] su8 commented on #520
Can you also try this:

[code]

[2018-08-08 10:16] lasers commented on #520
[code]

[2018-08-08 10:18] su8 commented on #520
You forgot the <X11/Xlib.h> perhaps ?

[2018-08-08 10:31] lasers commented on #520
[code]
I can open `nvidia-settings` and such. I don't know why either.

I have all this.
[code]

[2018-08-08 10:58] lasers commented on #67
3 years 11 month passed. Can you determine if you're still having this problem today on `1.10.8` or preferably `1.10.9_pre` (git)?  Thank you.

[2018-08-08 11:01] su8 commented on #580
@lasers `${execbar echo 51}` without `"` and `'` works fine.

[2018-08-08 11:03] desbma commented on #523
I have recompiled my current version with `-ggdb`, sorry I don't have time to test with master now, as I would have to update the [lua patch the package carries](https://aur.archlinux.org/cgit/aur.git/tree/lua53.patch?h=conky-nvidia).

I will report back the next time it crashes.

[2018-08-08 11:14] lasers commented on #580
[code]
@su8 According to the docs, it makes sense to use quotes here.

Maybe the issue is wrong or outdated docs? We need to fix `major` https://github.com/brndnmtthws/conky/issues/197 so we can start testing each variable one at a time and update the docs accordingly.

How does `execbar` currently work? I guess nobody updated the docs during the rewritten.

[2018-08-08 11:25] lasers commented on #580
Yeah, I guess we don't want to wrap `command`. Is it possible to support that too?

[2018-08-08 11:29] lasers commented on #503
Identical suggestion https://github.com/brndnmtthws/conky/issues/246#issuecomment-244614837

[2018-08-08 11:31] lasers commented on #580
@lavacano201014 Let us know if this works okay for you too so we can close this. Thanks.

[2018-08-08 11:39] su8 commented on #580
[code]

[2018-08-08 11:44] lasers commented on #580
[code]
Excellent. Good for me! Can you push a branch to this repo or make new branch and push it?

[2018-08-08 15:16] lavacano201014 commented on #580
Now it *almost* works.

The bar keeps blinking back to empty, like I'm feeding it zeroes, but I triple checked and made sure, and the only time `${execbar}` is actually receiving zeroes is when the progress is actually 0%.

I'm trying to record a GIF of it but x11grab was removed from recent versions of ffmpeg and I don't know how to get xcbgrab to work yet.

[2018-08-08 15:25] lavacano201014 commented on #580
Context: I have a Python script that gets MPRIS information and displays it (I don't see an `${mpris_title}` and friends in Conky docs, but that's another issue for another day). This is the part that manages the execbar:

[code]

That last print statement outputs this to conky (figure I'm 140 seconds into a 238 second song):

[code]

Switched to using latest git commit.

[2018-08-08 15:45] lavacano201014 commented on #580
![myfile](https://user-images.githubusercontent.com/4407155/43848222-555a0cfa-9ae7-11e8-9f9d-2e57231e073a.gif)

Here's the recording of what it's doing.

[2018-08-08 15:47] lasers commented on #580
@lavacano201014 Try https://github.com/brndnmtthws/conky/pull/591 branch. @su8 added some overflow checks.

[2018-08-08 17:04] lavacano201014 commented on #580
still doing it, but it's probably good to get me on the right branch anyway, thanks :V

[2018-08-08 18:15] dentex commented on #343
Unfortunately, for me `conky` still crashes:

    ~ $ conky
    conky: desktop window (3a00041) is subwindow of root window (20a)
    conky: window type - normal
    conky: drawing to created window (0x5600001)
    conky: drawing to double buffer
    *** Error in `conky': free(): invalid pointer: 0x000000000141a970 ***
    ======= Backtrace: =========
    /lib/x86_64-linux-gnu/libc.so.6(+0x777e5)[

[2018-08-08 19:13] CottonEaster commented on #561
I am still getting some delays to shutdown that look as though they may be caused by Conky. They look that way in that, during the stall, other applications have quit and Conky remains visible. Could you help me diagnose this, please?

[2018-08-08 20:14] lasers commented on #343
What version are you on? `conky -V | head -n1`

To build from source...
[code]
[code]

If it crash for you just the same, aww, open a terminal.
`gdb conky`
(gdb) `run -c ~/path/to/conky.conf`

Conky will start. Wait for a crash to occur.
_Crash!_

(gdb) `bt full`   # print a backtrace

We want that backtrace.  Thank you! :-)

[2018-08-08 21:40] lasers commented on #374
1 year 5 months passed. Are you still using this command today?

[2018-08-08 22:54] lasers commented on #189
2 years 8 months passed. Can you determine if you're still having this problem today on `1.10.8` or preferably `1.10.9_pre` (git)? The older versions are not trustworthy due to too many changes that can be hard to track. Additionally, I'd like to see configs too so we know what variables are being used... and if we can reproduce this issue easily. Thank you.

[2018-08-09 00:08] lasers commented on #189
@X0rg Okay. Just to be clear... You're referring no more than just `180.27%`?

I had to knock off few cores off before I can reproduce. I am able to get `303%` for both `${top cpu 1}` and `${top cpu 2}` instead of `100.?`. Apparently, it's not exclusive to `${top cpu 1}`.

Your separators are throwing me off. In the second screenshot, `top` is reporting low numbers, eg `1,03` (`1.03%`) and the cpu

[2018-08-09 00:15] lasers commented on #36
4 years 7 months passed. Can you determine if you're still having this problem today on `1.10.8` or preferably `1.10.9_pre` (git)? The older versions are not trustworthy due to too many changes that can be hard to track. Additionally, I'd like to see configs too so we know what variables are being used... and if we can reproduce this issue easily. Thank you.

[2018-08-09 01:29] lasers commented on #199
2 years 7 months passed. Can you determine if you're still having this problem today on `1.10.8` or preferably `1.10.9_pre` (git)? The older versions are not trustworthy due to too many changes that can be hard to track. Additionally, I'd like to see configs too so we know what variables are being used... and if we can reproduce this issue easily. Thank you.

[2018-08-09 08:32] sheimer commented on #485
Hi, and thanks for your answer :) At the moment I can't provide any further informations, since I am working on a macintosh system at the moment, where i couldn't get conky to work...

If I have the opportunity I will answer at a later time :)

[2018-08-09 08:47] bad-interpreter opened #593 "if_match not working"
My $apcupsd_status variable is "ONLINE". But if I do

`${if_match "${apcupsd_status}" != "ONLINE"}NOT ONLINE${endif}`

it will print "NOT ONLINE" too, in the same config.
Is it a bug?

conky 1.10.8_pre compiled lun 16 lug 2018, 13.24.10, CEST for Linux 4.14.55-zion x86_64

Compiled in features:

System config file: /etc/conky/conky.conf
Package library path: /usr/lib64/conky

 General:
  * math

[2018-08-09 08:47] X0rg commented on #189
@lasers `${cpubar}` and `${top}` are not reflecting the same CPU usage:
- `${cpubar}` is showing 100% CPU usage on each core (4x100=**400%**)
- `${top}` is showing less than 400% (180.27+31.46+1+0.5=**213,23%**)

Another screenshot while running pts/c-ray-1.1.0 with Linux **LTS 4.16.60**:
![Screenshot 1](https://user-images.githubusercontent.com/2873785/43887523-665becd4-9bbf-11e8-94fc-52c32aad8b5

[2018-08-09 08:59] bad-interpreter commented on #593
I solved: the variable ${apcupsd_status} has a trailing space, so it must be compared with "ONLINE " and "ONBATT ".

[2018-08-09 11:13] su8 commented on #189
The sleep during intervals should be one clock tick which in linux is 100ms. Due to the nature of update time interval - the variable it collects cpu usage every x seconds instead.

[2018-08-09 11:38] lasers commented on #580
@lavacano201014 I pulled unknown modifications to #591 from @su8. It's also unknown if he addresses this on-off issue. Can you try to see if it's still happening?

[2018-08-09 12:03] su8 commented on #593
What happens when you change the following line:

https://github.com/brndnmtthws/conky/blob/3720e96ca5ae94f838a7fc39fe1f1d559961a3a4/src/apcupsd.cc#L164

to

[code]

[2018-08-09 12:04] su8 commented on #593
[code]

[2018-08-09 12:05] dentex commented on #343
To build the latest `conky` it was required a `cmake` version higher than 3.6 (I installed it manually) and I also needed a few libraries (libcurl-something). Now I have version `1.10.9` running without issues. If it will ever crash, I'll let you know.

Thanks!

[2018-08-09 12:05] #343 closed

[2018-08-09 12:14] bad-interpreter commented on #593
Works as expected! No trailing space anymore!

[2018-08-09 12:25] lasers commented on #593
@su8 Mind pushing a fix on new branch on this repository or should I do it?

[2018-08-09 12:27] su8 commented on #593
@lasers You go ahead and open a PR with this fix :heart:

[2018-08-09 12:30] lasers commented on #593
@su8 What do I describe this? I see it's defined on line 136 saying... FIRST?

[2018-08-09 12:41] su8 commented on #593
It stops on first encountered space character and terminates with '\0' or 0.

remove trailing whitespace should be fine.

[2018-08-09 13:10] lasers commented on #593
Closed via https://github.com/brndnmtthws/conky/issues/593. Thank you for the report. Keep them coming.

[2018-08-09 13:10] #593 closed

[2018-08-09 13:15] lasers commented on #218
2 years 6 months passed. Can you determine if you're still having this problem today on `1.10.8` or preferably `1.10.9_pre` (git)? The older versions are not trustworthy due to too many changes that can be hard to track. Thank you.

[2018-08-09 13:26] npyl commented on #218
I think this is probably happening to me too (macOS).  The weird thing is that if you kill conky and run it again it shows up correctly.  (The second time is always correct.)

[2018-08-09 14:31] su8 commented on #580
I'm not getting any flickering - https://youtu.be/OwY5qRyzMAQ

[code]

[2018-08-09 14:35] lasers commented on #218
To make things a bit easier, the diff between @mxmlnkn's debug printfs is...
[code]
Noticing `use_xft` in the diff along with font changes... I'm on `i3wm` so things may be a bit more consistent than `KDE` or `XFCE4`. With @mxmlnkn's config out of the box, I had to use `use_xft=false` to get the left side or I will always get the right side (which is `use_xft=true`). I don't think this changed any

[2018-08-09 14:36] lasers commented on #199
Duplicate #218. Closing.

[2018-08-09 14:36] #199 closed

[2018-08-09 14:47] lasers commented on #580
@lavacano201014 Is it the only bar you're trying to print? Can we have your config too?

[2018-08-09 14:59] lasers commented on #580
@su8
[code]

[2018-08-09 15:04] su8 commented on #580
`own_window=true` seems to flicker on my system from time to time.

[2018-08-09 15:56] lasers commented on #456
config
[code]

file: fake-syslog.log -- consisting two ascii `syslog` in asterisks.
[code]

output
[code]

We believe you do not have this problem anymore with `1.10.8` or preferably `1.10.9_pre` (tested). The older versions are not trustworthy due to too many changes. Thank you.

[2018-08-09 15:56] #456 closed

[2018-08-09 17:00] lasers commented on #67
Hi. I tested the config above. For historical purposes, here's the new syntax config.
[code]

I did not see any `(null)` on the screen nor in the console. I don't view this a bug either and I think that users shouldn't add X11 apps directly in the config. It should fare better if we put them in scripts instead where it can decide what to do if the process is still running, to return empty or custo

[2018-08-09 17:00] #67 closed

[2018-08-09 17:04] su8 commented on #189
@X0rg Can you try the following patch:

[code]

To compile against the master branch:

[code]

[2018-08-09 18:00] lasers commented on #342
@su8 See `fs_*` too just in case since they accept `(fs)` paths.

[2018-08-09 18:37] su8 commented on #342
@lasers Can you try this diff:

[code]

To get your disks uuid type:

[code]

In your conky.conf type `${diskio uuid:a8a1aaa4-02}`

[2018-08-09 18:50] lasers commented on #342
It worked, but is it normal to print this at startup?
[code]

[2018-08-09 18:56] su8 commented on #342
Just moved the NORM_ERR() call into the `if (strncmp(s, "label:", 6) == 0) {` block.

[code]

[2018-08-09 19:00] lasers commented on #342
It'll also print `0B` on invalid partuuid.

[2018-08-09 19:02] su8 commented on #342
That's acceptable as the error is printed in the terminal `conky: diskio device 'label:sda3' does not exist`

[2018-08-09 19:04] X0rg commented on #189
@su8 Yes. There is no error about `update_cpu_usage()` with this patch.

[2018-08-09 19:07] lasers commented on #342
I see... It does that for label, but not for ~~`uuid`~~ `partuuid`.

[2018-08-09 19:12] su8 commented on #342
The code expects block device, but the `partuuid` is pointing to symbolic link.

[2018-08-09 19:27] su8 commented on #342
[code]

[2018-08-09 19:33] lasers commented on #342
[code]
Invalid keys `fake_uuid` works here.
[code]
Incorrect. I have this.
[code]

[2018-08-09 19:40] lasers commented on #342
FYI: It does not print nonexistent `sda1`, `sda2` on master branch so it's related to this diff.

[2018-08-09 19:45] su8 commented on #342
I'm getting also `conky: diskio device 'label:sda1' does not exist` on `label` usage too. Performed `git reset --hard` and still get this error printed on the terminal.

[2018-08-09 19:46] lasers commented on #342
Do you label your hard drives? You might meant `sda1` and not `label:sda1`

[2018-08-09 19:49] lasers commented on #342
Okay, I think I heard you first time. I always want to clear up potential confusions. Be back in an hour. Break time from conkying.

[2018-08-09 19:49] su8 commented on #342
In the documentation it's written that we can use 'label:foo' - https://github.com/brndnmtthws/conky/wiki/Configuration-Variables , and the code does it's scanning to see whether the 'label:' was used or not.

[2018-08-09 19:56] su8 commented on #342
Now valid sda1, won't print errors.

[code]

[2018-08-09 21:20] CottonEaster opened #596 "LUA API: uptime in the conky_info table appears not to be working"
This table entry appears to be blank - whereas the update_interval entry works. Apologies if some compile-time option is needed for this (which I have not enabled).

Linux Mint 19 Cinnamon x64.

conky 1.10.9_pre compiled Thu  9 Aug 22:06:55 BST 2018 for Linux 4.17.13-041713-generic x86_64

Compiled in features:

System config file: /etc/conky/conky.conf
Package library path: /usr/local/lib/conky

[2018-08-09 21:28] lasers commented on #596
Do you have an example config we can use to test this?

[2018-08-09 21:48] lasers commented on #431
9 months passed. Can you determine if you're still having this problem today on `1.10.8` or preferably `1.10.9_pre` (git)? The older versions are not trustworthy due to too many changes that can be hard to track. Thank you.

[2018-08-09 23:48] CottonEaster commented on #596
Certainly. Here are gutted but hopefully stil functional - apart from with respect to the problem at issue! - versions of my [conky script](https://pastebin.com/ifeUfG41) and [the lua [](script](https://pastebin.com/4ieazRvT)) in question. (The originals are a bit large and involved.)

I edited the title of this bug report, to clear up a confusion I had introduced. To be clear: the problem is with

[2018-08-09 23:51] lasers commented on #596
Pastebin does not last long. I'm copying the config to here.

[code]

[2018-08-10 00:06] CottonEaster commented on #596
OK. But I set the Pastebin's expiry on both scripts to six months.

[2018-08-10 02:40] bunder2015 commented on #431
This bug happens so infrequently but I'll try to reproduce again on 1.10.8 and report back in a few days.

Pardon me asking but can you give me an example of a change that would possibly fix high bars?  I don't see anything relevant in the change logs.

[2018-08-10 03:16] lavacano201014 commented on #580
I'm on my way to work at the moment so I can't provide my full config, but:

* I have other bars for CPU and memory usage, and they all work fine without flicker.
* I believe I currently have `own_window=true`

[2018-08-10 03:35] lasers commented on #431
I recall no recent changes to diskiograph. I'm hitting everybody up right now with invaliding issues, asking for updates, or to look for more information. In the last 6 days, we went from <205 down to 113 issues. That's more than 80 issues already. Hopefully it won't be too long before we went down to 100.

Closed via bug fixes, feature requests, duplicate issues, stale issues, or by asking people

[2018-08-10 06:41] su8 commented on #342
Go ahead and open up a PR :heart_eyes:

[2018-08-10 10:27] lasers commented on #596
Stupid question. Am I missing a second script? I only see one script.

[2018-08-10 13:34] CottonEaster commented on #596
My mistake. Something had gone wrong with the formatting in my post. I've fixed it and [here too](https://pastebin.com/4ieazRvT) is a link to that same - previousy missing - lua script.

[2018-08-10 14:48] lasers commented on #342
Closed via https://github.com/brndnmtthws/conky/pull/598. Try it now! @krakenfury :sweat_smile:

[2018-08-10 14:48] #342 closed

[2018-08-10 16:03] lasers commented on #432
@awakenedtechnologies Can you try https://github.com/brndnmtthws/conky/issues/189#issuecomment-411828451? Thank you.

[2018-08-10 16:08] lasers commented on #239
2 years 4 months passed. Can you determine if you're still having this problem today on `1.10.9` or preferably `1.10.10_pre` (git)? The older versions are not trustworthy due to too many changes that can be hard to track. Thank you.

[2018-08-10 16:09] lasers commented on #341
1 years 9 months passed. Can you determine if you're still having this problem today on `1.10.9` or preferably `1.10.10_pre` (git)? The older versions are not trustworthy due to too many changes that can be hard to track. Thank you.

[2018-08-10 16:09] lasers commented on #425
10 months passed. Can you determine if you're still having this problem today on `1.10.9` or preferably `1.10.10_pre` (git)? The older versions are not trustworthy due to too many changes that can be hard to track. Thank you.

[2018-08-10 16:11] lasers commented on #434
8 months and 13 days passed. Can you determine if you're still having this problem today on `1.10.9` or preferably `1.10.10_pre` (git)? The older versions are not trustworthy due to too many changes that can be hard to track. Thank you.

[2018-08-10 16:30] su8 commented on #189
Done mate :smiley:

[2018-08-10 17:05] kylon commented on #239
I will try asap.
The arch package is outdated, i ll compile a new one from git

Thanks

[2018-08-10 17:37] lasers commented on #468
@musger, @powerman: New version went out. Can you test it now? Thank you.

[2018-08-10 17:38] lasers commented on #106
@su8 New version went out. Can we close this now?

[2018-08-10 17:47] su8 commented on #106
Yes :octopus:

[2018-08-10 17:51] lasers commented on #106
Code no longer exist. Closing. :elephant:

[2018-08-10 17:51] #106 closed

[2018-08-10 17:56] lasers commented on #435
@su8 Should we close this because the code no longer exist? :eagle:

[2018-08-10 18:04] su8 commented on #435
Yes :rabbit:

[2018-08-10 18:06] su8 commented on #239
Can you also compile it with this patch - https://github.com/brndnmtthws/conky/issues/189#issuecomment-411828451

To compile against the master branch:

[code]

[2018-08-10 18:12] lasers commented on #435
More than 2 years, 9 months passed between `1.10.1` and current `1.11_pre` (git).
Code no longer exist. Closing this. Thank you for the report. :rabbit2: :

[2018-08-10 18:12] #435 closed

[2018-08-10 18:15] tiiiecherle commented on #521
Hey, thanks for getting back to this. I'm sorry to report that the problem is not solved in latest git version. It still persists in the same way.

Thanks for fixing in advance.

[2018-08-10 18:17] lasers commented on #521
Thank for dropping in. Can we have your config too?

[2018-08-10 18:27] tiiiecherle commented on #521
sure
[conky_archvbox.txt](https://github.com/brndnmtthws/conky/files/2279068/conky_archvbox.txt)

[2018-08-10 18:35] lasers commented on #521
Ha. Can we have a screenshot too? I'm wondering if I'm off with something. It seems like I need to install `conkycolors` font too. Anyhow, it's for comparison. Don't forget to block out the public IP. Thank you.

[2018-08-10 18:48] X0rg commented on #239
@kylon: You can try [conky-git](https://aur.archlinux.org/packages/conky-git/) package from AUR.  It works like a charm for me. :wink:

[2018-08-10 20:03] tiiiecherle commented on #521
yes, the setup requires conky-colors-git. I like this config ;)

Here is a screenshot of my desktop and the separate conky.

![screenshot_desktop](https://user-images.githubusercontent.com/7059936/43978834-eb7b16d6-9ce8-11e8-8ddd-35e870b51156.jpg)
![screenshot_conky](https://user-images.githubusercontent.com/7059936/43978835-eb975ae4-9ce8-11e8-9ea0-25387a287c34.jpg)

[2018-08-10 23:26] plikhari opened #601 "conky unable to find files"
I am getting this message when I try to run my conky and conkywx weather program ...

[code]
conky is not able to read full path or standard short ones - can someone else confirm with an example please.

Thanks

[2018-08-11 00:09] lasers commented on #601
[code]
All three works for me. Do you have `hartley-template`? Reported `No such file or directory.`

[2018-08-11 00:27] plikhari commented on #601
Fantastic - Thanks @lasers - I am checking through - shall get back with more once I have figured it out.

Yes - everything works fine with conky 1.10.8 - some things just not working anymore ...

OK regarding your 2nd message - Yes - LUA stuff working fine - I have mostly everything working off LUA - so that is fine. Just this path issue.

my resource file for system is up - let me dive deeper

t

[2018-08-11 01:12] lasers commented on #318
Sounds like you ran into this bug https://github.com/brndnmtthws/conky/issues/334.

[2018-08-11 02:26] lasers commented on #440
Where do we stand on this issue today? Is it okay to close this now? Thank you.

[2018-08-11 03:01] plikhari commented on #601
Double quotes does not appear to be working - in this situation we cannot use single quotes or double square brackets. We do need the quotes as shell plays havoc if you have space in path.

if we remove these 6 quotes - things start to work.

[code]
The errors that are fired up in the terminal are
[code]
I am also investigating an issue where if a `${templateN}` - say a file - is missing then the

[2018-08-11 03:04] lasers commented on #601
Can you bisect the bad commit? I think it might be #591.

[2018-08-11 03:07] lasers commented on #601
Try `${execpi 1800 '"${template0}" -c "${template1}" -t "${template2}"' }` or..
Try `${execpi 1800 ""${template0}" -c "${template1}" -t "${template2}"" }`.

[2018-08-11 03:12] plikhari commented on #601
No - even escaping single/double quotes - encomposing with quotes as you have suggested does not work

[2018-08-11 03:18] lasers commented on #601
ACK. You'll have to deal this with @su8... Maybe in 6 hours or so.

[2018-08-11 05:00] plikhari commented on #520
This is also an issue - it all started when a whole host of nvidia cards were turned into legacy cards and we had to use different drivers besides what we were using - thanks to nvidia ...

I am building conky without nvidia support - and that is done via LUA and nvidia-smi.

here is the list of drivers I have
[code]

[2018-08-11 08:57] su8 commented on #601
Can we have your config and -c ${template1} -t ${template2} files.

[2018-08-11 11:10] Vintodrimmer commented on #425
I'll check, but isn't the latest release still `1.10.8`?

[2018-08-11 11:50] amosbird opened #602 "how can I make ${image} accept alignc and offset commands"
Currently I'm doing something like this
[code]

I have to manually calculate the position of the image. It breaks when switching to different screens. How can I specify ${alignc} and ${offset/voffset} like commands to ${image}?

[2018-08-11 13:25] lasers commented on #432
Duplicate #189? Do you agree? @su8 @X0rg

[2018-08-11 13:26] lasers commented on #601
@su8 Untested, but you can try various files in `conkywx`, which he made.

[2018-08-11 13:33] lasers commented on #77
@su8 I ran this for several hours and we used almost all variables. Funny thing, I was able to test both old and new version because it updated few days ago [archlinux/mpd](https://www.archlinux.org/packages/extra/x86_64/mpd/)  `Last Updated: 2018-08-08` and it didn't crash either. We can close this issue now.

3 years 7 month passed. Thank you for the report. @rathsky :heart_eyes:

[2018-08-11 13:33] #77 closed

[2018-08-11 13:39] lasers commented on #132
@su8 Yesterday, I tried this for few hours running both `LC_ALL=fr_FR.UTF-8` and `LC_ALL=en_DK.UTF-8` at same time and had no crash. And looking at OP's history, it might be a long time before we can get a response. I'm considering closing this. Do you see anything useful from the `valgrind` log?

[2018-08-11 13:53] su8 commented on #132
@lasers Valgrind trace is not useful in this case, you can close this issue.

[2018-08-11 13:57] lasers commented on #132
Closing this stale issue that occurred on `1.10.0`... more than 3 years ago today.

Please comment if you're still having this problem on `1.11_pre` (git). The older versions are not trustworthy due to too many changes that can be hard to track. Thank you for the report. @aldenis :+1:

[2018-08-11 13:57] #132 closed

[2018-08-11 14:39] dbriba commented on #602
I don't think it's possible, ${alignc} and ${offset/voffset} are only for text.

[2018-08-11 16:31] lasers commented on #381
Do partial match, eg `${if_existing /proc/net/route eth}` for `eth0`, `eth1`, etc not work here?

1 years 5 months passed. We're asking you to update this issue by determining if you're still having this problem today on `1.11_pre` (git)? The older versions are not trustworthy due to too many changes that can be hard to track. Thank you.

[2018-08-11 17:07] plikhari commented on #602
Unless you are using a list of image files to be displayed in a sequence - `${alignc}` makes no sense and same goes for offsets. conky only supports single image position - which is perfect.

There is a way - but for that you have to use the power of LUA - this is the embedded scripting language for conky.

[2018-08-11 17:13] amosbird commented on #602
@plikhari > conky only supports single image position - which is perfect.

well when switching to different sized display, it doesn't work well.

[2018-08-11 17:32] plikhari commented on #602
The `${image}` variable has an absolute position placeholder - yes it does not scale as it is using absolute position.

There is a difference from the developers perspective - an image object and text object require a different way in which they are handled and displayed.

Once you have spent some time with this fantastic program - you will get that realisation - that conky does not scale well !!!

[2018-08-11 17:55] plikhari commented on #601
[code]

Now the first part `${template0}` need not be quoted - I have tested with a space in the path and it still works - so the variable is being passed to the shell as a single unit - even if it has a space. This is good.

If this is the case - then the need to quote is not required - only issue happens is that if it is quoted - it breaks down.

But here is the crux !!!

conky and shell usage i

[2018-08-11 18:50] su8 commented on #601
The quoting is trimmed because of https://github.com/brndnmtthws/conky/issues/580 , the guy wanted to use `${execbar "echo 51"}` which was causing issues with the shell when the command is passed to `pid_popen()`.

Only the initial quotes are trimmed, the rest are left untouched.

If you want to still use quotes do make sure to put everything in another pair of quotes like this:

[code]

Here the

[2018-08-11 23:02] #381 closed

[2018-08-12 01:09] #440 closed

[2018-08-12 01:33] lavacano201014 commented on #580
[Here's my config and the two scripts it references](https://github.com/brndnmtthws/conky/files/2280656/conky-580.zip), sorry I'm late

[2018-08-12 04:53] dbriba commented on #602
You can try xrandr with ${ifmatch...}, but I can't test that because I have just one display.
example:
dominique@host-192-168-1-2 ~$ xrandr | sed -n '4p' | awk '{print $1}'
1600x900
In your conky
${if_match "${execi 3600 xrandr | sed -n '4p' | awk '{print $1}'}"  =="1600x900"  ${image ~/.cache/jelly-conky/current.png -p 920,150 -s 64x64}$endif\
${if_match "${execi 3600 xrandr | sed -n '4p' | awk '

[2018-08-12 05:51] amosbird commented on #602
@dbriba Thanks!

[2018-08-12 05:51] #602 closed

[2018-08-12 07:15] X0rg commented on #189
Oh, wait... I'm sorry, I misspoke...
When I said "no error", I wanted to say that:

In the following code
[code]
`nanosleep` works ("no error" = no `NORM_ERR()` in this case), but it doesn't fix this issue. :confused:

[2018-08-12 07:54] Vintodrimmer commented on #425
Thanks for the detailed instructions, but I'm still curious about the version 1.10.9. There seems to be no corresponding tag on GitHub or am I missing something?

And yes, unfortunately, the bug is still there for me.
Here's a free floating "default" window:
![Default window](https://raw.githubusercontent.com/Vintodrimmer/docs/master/2018-08-12-09%3A48%3A09-screenshot.png)
And fixed "dock" variant

[2018-08-12 08:42] plikhari commented on #425
Yes the current released version is 1.10.8 - git under development version is 1.10.9_pre

[2018-08-12 11:03] plikhari commented on #601
My point is that quoting or not quoting should not break the system. At present with this change it does break.

[code]
So what you are saying is that `1802` has to be without quotes - which it is - but `${template0}` should be free to be quoted or without quotes. This is where things break on a much larger scale that a single `${execbar}` issue.

[2018-08-12 13:45] lasers commented on #432
Duplicate #189. Thank you for the report @awakenedtechnologies.

[2018-08-12 13:45] #432 closed

[2018-08-12 15:57] jovanemarques commented on #249
Hello people. As a hint, do not forget to check the `minimum_size` in my case was configured with `2560 0` and was showing the conky out of the screen. Check it, just in case.

[2018-08-12 16:42] lasers commented on #601
@su8 Revert?

[2018-08-12 16:47] su8 commented on #601
I don't think that we have a issue here. If we revert single commands with quotes will be broken and we'll get more issues spawning like this.

[2018-08-12 19:02] lasers commented on #503
@su8 Work on something else? `default_bar_fill` and `default_bar_unfill` or `default_bar_full` and `default_bar_empty`?

[code]

[2018-08-12 22:15] plikhari commented on #601
OK - let's roll with it - we keep it the way it is - even though we have a different perspective over this issue - we have the same goal ;-))

[2018-08-12 22:15] #601 closed

[2018-08-12 22:52] kylon commented on #239
this is the first time i try 0.1 since when i opened this issue, latest stable on arch (1.10.8) partially fixed the issue.
conky is always on top, 20+% but my cores seem fine.

anyway...

update interval 0.1, git build (master 6c590590a)

with patch (#189 (comment))
lower cpu usage, 12%, the cpu graph is a bit slower even if my value is 0.1 (i think this is why the cpu % is lower)

without patch
s

[2018-08-13 02:28] lasers commented on #39
How far is your home? :laughing:

[2018-08-13 05:25] dbriba commented on #602
I do mistake in my code , I update it...

[2018-08-13 11:44] su8 opened #605 "Variable not freed ?"
The following variable is not freed in this `scan_exec_arg()` function:

https://github.com/brndnmtthws/conky/blob/3d5e152a8b264c96f40237a767a9051435dbf8d2/src/exec.cc#L263

[2018-08-13 11:50] su8 commented on #605
[code]

[2018-08-13 11:56] su8 commented on #605
[code]

[2018-08-13 15:00] titanofold commented on #39
I travel by snail. In a few years I hope to upgrade to a turtle. I do apologize. I forgot about it as soon as I left work.

Anyway, I just tried it this morning, and the issue persists with 1.10.8.

[2018-08-13 15:35] lasers commented on #562
Closed via https://github.com/brndnmtthws/conky/pull/604.

[2018-08-13 15:35] #562 closed

[2018-08-13 15:50] lasers commented on #259
Closed via https://github.com/brndnmtthws/conky/pull/603.

@Vladimir-csp Feature `${iface}` has arrived. Please comment here if you are having `iface` problems. We almost had the other interfaces in too, eg `docker0`, as the PR got merged without fixing the very last thing (in the conversation). That can be sorted out later. Thank you.

[2018-08-13 15:50] #259 closed

[2018-08-13 16:06] Vladimir-csp commented on #259
Thanks!
I've tried building current master, but I'm getting an error:
[code]
I can wait for it to come to Debian eventually.

[2018-08-13 16:14] lasers commented on #259
https://github.com/brndnmtthws/conky/wiki/Installation or try this comment first. https://github.com/brndnmtthws/conky/issues/239#issuecomment-412161495

Don't build it with `NVIDIA` because I presume that had been broken for some versions now due to NVIDIA making many of their mainstream GPUs legacy. See issue `#520`.

[2018-08-13 16:14] su8 commented on #259
@Vladimir-csp @ngaro forgot to edit this file

[code]

[2018-08-13 16:17] su8 commented on #605
@lasers Can you open up a PR with this patch ?

[2018-08-13 16:25] su8 commented on #605
**exec.cc: Free malloced pointer after use in scan_exec_arg()**

[2018-08-13 18:56] lasers commented on #605
Closed via https://github.com/brndnmtthws/conky/pull/607

[2018-08-13 18:56] #605 closed

[2018-08-13 19:01] lasers commented on #565
[code]

[2018-08-13 19:52] lasers commented on #580
My bar looks okay. I'll try different songs.
Minor tweaks to make it work with other machines better.
[code]
[code]

[2018-08-13 20:26] lasers commented on #580
I can confirm this, @su8 The bar flickers everytime we get a new percent, eg `28` to `29`.
The script never gave `0` to `${exec echo %s}`.
[code]

[2018-08-13 22:47] desbma commented on #523
3 more core dumps with conky compiled with `-ggdb3`:
* https://www.dropbox.com/s/xc62dvxxvaxsx2r/conky_3.core.xz?dl=1
* https://www.dropbox.com/s/8futjk67ectmi3n/conky_4.core.xz?dl=1
* https://www.dropbox.com/s/a8q19czil4ppn7g/conky_5.core.xz?dl=1

Output of `bt full`:
[code]

[2018-08-13 23:45] lasers commented on #366
What's the status of this issue? Thank you.

[2018-08-13 23:55] plikhari commented on #366
I am testing 1.10.9_pre - and `lua_startup_hook` is working as designed. The hook will only trigger at the first start of that conky resource or if that resource file is edited and saved.

This issue should be closed.

[2018-08-14 00:29] lasers opened #609 "munmap_chunk(): invalid pointer"
When I was testing #366, I triggered something by reloading the config 3rd or 4th time.
[code]

[2018-08-14 00:44] plikhari commented on #609
Good news - I have no such issues - just reloaded all conky configs - 4 of them - 7 to 8 times - not a squeak.

I have been using conky with lua 5.3 since mid 2016... I also noticed that there are refs to `liblua.so.5.3` - if you are using `tolua++` for 5.1 - then there should'nt be a call to this file.

To get conky and lua 5.3 integration is dead simple - just small change in conky to use lua 5.

[2018-08-14 01:01] lasers commented on #609
I have `tolua++` installed.
[code]

Second (different) backtrace doing the same thing. I didn't change a thing.
[code]
We really should sort out the Lua-related issues.
Not wanting to reference, but... `#116`, `#263`, and maybe this too.

@brndnmtthws Can you look into patching and/or upgrading Lua support to `5.3` ?

[2018-08-14 02:02] awakenedtechnologies commented on #189
Testing with the patch from a few days ago, I see no difference.  But, on the plus side, conky is still awesome.

[2018-08-14 02:04] lasers commented on #170
I tried the configs posted by **ghost**. No flickering here.
I tried `minimal_width = 100` too to see if it would flicker. Nothing.

![2018-08-13-204258_513x745_scrot](https://user-images.githubusercontent.com/852504/44067442-171a42a4-9f3b-11e8-8403-cdaba59ef6d6.png)

If you're having this problem on `1.10.9` or `1.10.*` (git), comment here with the config. The older versions are not trustworthy d

[2018-08-14 02:04] #170 closed

[2018-08-14 02:26] lasers commented on #17
@plikhari Are you able to help here?

[2018-08-14 02:52] plikhari commented on #17
From what I have understood - `cairo` does not use `imlib2` - and `cairo` needs to interact with `lua` - and so far the support is only for `png` images.

Most people look at `cairo` with `python` or `c` bindings and get all excited - but here we have cairo with lua bindings - to put things into perspective.

So if we have images that are non `png` - I use `Imagemagick` to manipulate and display i

[2018-08-14 03:18] #17 closed, assigned to nobody

[2018-08-14 03:53] lasers commented on #417
Never mind about the bar. It's the `{out_to_x=true,out_to_console=true}` issue. Changing `out_to_x` to `false` made the bar works okay with `out_to_console`.

Like I mentioned last week, everything seems okay for me here so I'm not sure what to make of this... I'll close this until you come back with more information, your config, etc. Thank you.

Here's my screenshot with `pa_*` variables mention

[2018-08-14 06:07] lasers commented on #596
So far, I see duplicate `maximum_width = 2560`. I see that it printed `0` for `uptime` and `1.1` for `update_interval` because you specified that in your config. Also, you may be interested in trying `/usr/bin/env lua` so it can find `lua` well on other machines.

@plikhari Can you see if he's doing Lua correctly?
@su8 Can you see if this is correct? It's only two lines in `~/src/lluaa.cc`.
[code]

[2018-08-14 08:18] plikhari commented on #596
`uptime` has always printed `0` - but is this not the system Uptime - in which case it should match `${uptime}` variable. In LUA you can also derive this value using `conky_parse('${uptime}')`

`update_interval` has always worked !!!

[2018-08-14 09:18] plikhari commented on #609
That is a great idea...

If you look at the tolua and tolua++ in particular - it has not been updated for a many years like since 2009 perhaps - we should bring that as part of conky - apply the patch and let it be compiled and installed with conky.

for change in conky
[code]

for tolua++ we have a patch [tolua53.patch](https://aur.archlinux.org/cgit/aur.git/tree/tolua53.patch?h=tolua%2B%2B_5.3)

[2018-08-14 09:19] su8 commented on #596
Here's the initialization of `uptime`

https://github.com/brndnmtthws/conky/blob/bbaa0e9ac8d8024245c2dde676ed4b6376f8300e/src/llua.cc#L539

Here's the initialization of the above function
https://github.com/brndnmtthws/conky/blob/bbaa0e9ac8d8024245c2dde676ed4b6376f8300e/src/conky.cc#L3048

Even if we add this:

[code]

The uptime information will be updated only once :disappointed:

[2018-08-14 09:25] plikhari commented on #596
Ahh so there you have it - if it is only going to update one time - we really have no use for it.
I have always seen `conky_parse("${uptime}")` in use - so we can change the docs and remove the `uptime` part.

[2018-08-14 09:42] su8 commented on #580
@lasers Can I have your config that outputs this error, because I couldn't get conky to display it.

[2018-08-14 09:45] su8 commented on #580
`${execbar echo %s}` is causing the following

[code]

because it expects a number in the form of `double` to be scanned/returned

https://github.com/brndnmtthws/conky/blob/bbaa0e9ac8d8024245c2dde676ed4b6376f8300e/src/exec.cc#L198

[2018-08-14 09:59] su8 commented on #239
@lasers Can you have a look good sir ?

[2018-08-14 10:43] plikhari commented on #239
I made a super smooth scroller with an update_interval of 0.04 to 0.07 - YES ;-)

Please see this image - [conkywx news scroller](https://image.ibb.co/k1DLmU/Screenshot_2018_08_14_16_03_32.png) - scrolling 182 items of news - cpu about 10% to 12 % - it has remained the same with 1.10.8 as well - this test was with 1.11.0_pre.

I frankly have not seen any high cpu usage ...

[2018-08-14 10:55] lasers commented on #580
Why does this not flicker?
[code]

[2018-08-14 11:13] lasers commented on #580
This breaks with quotes too.
[code]

[2018-08-14 11:27] su8 commented on #580
Yes the behaviour for execbar is the same as described above. All exec/execpi/execp functions call `exec_cb` which on their side use `pid_popen`.

[2018-08-14 11:32] lasers commented on #580
Just to be clear...

When the flicker happens, it happened because of the percent change. You said it's complaining about lack of `double`, but it always stopped complaining after that first one... It's on-off on every percent change.

[2018-08-14 11:43] CottonEaster commented on #596
Thanks, all. (What I really need, though, is time in seconds or milliseconds since either boot or resumption from sleep . .)

[2018-08-14 11:52] plikhari commented on #596
For that you can use the `cat /proc/uptime` or `uptime` - former gives 2 values - 1st is the uptime in seconds.

[2018-08-14 12:04] CottonEaster commented on #596
Thanks. Also, though, I do not understand the comment above about

`/usr/bin/env`

[2018-08-14 12:04] #596 closed

[2018-08-14 12:04] lasers commented on #596
I think it'd be good idea to take out the whole `conky_info` if it's going to require a sole option `update_interval` to work. Maybe I don't see it, but is there a Lua function to parse conky settings like `update_interval`, `default_bar_width`, etc...?

For waking up...
[code]

[2018-08-14 12:06] lasers commented on #596
Change `#!/usr/local/bin/lua` to `#!/usr/bin/env lua` so it know where to find `lua`.

I have `/usr/bin/lua` here. Your `lua` seems to be coming from non-distro installation.

[2018-08-14 12:06] su8 commented on #580
What happens when you apply this patch, does it flicker again :question:

[code]

[2018-08-14 12:06] plikhari commented on #596
hey that is a very critical option - please leave it as it is

[2018-08-14 12:11] plikhari commented on #596
if you are running lua from within conky - then do not use environment statement on the first line !!!

[2018-08-14 12:14] lasers commented on #596
@plikhari Why? `#!/usr/local/bin/lua` should have higher precedence over `#!/usr/bin/lua` either way.

[2018-08-14 12:18] plikhari commented on #596
i am not talking about any precedence - this line need not be used as the lua interpreter is triggered by `lua_load = filename.lua` variable in the config section.

[2018-08-14 12:28] CottonEaster commented on #596
Well, on my computer anyway, conky can run lua files just fine, whether they start with (1)

`#!/usr/local/bin/lua`

or with what was suggested to me on this thread, viz., (2)

`#!/usr/bin/env lua`

And I've tested 1 (but not 2) on two other computers (all admittedly running the same Linux distribution, namely, Mint Cinnamon).

[2018-08-14 12:31] su8 commented on #596
`#!/usr/bin/env lua` will traverse the `$PATH` to find any lua executables, and is the preferred way to write portable scripts/programs.

[2018-08-14 12:40] plikhari commented on #596
If you are running lua scripts as stand alone and not within conky - then you need to use the environment shebang - otherwise - it is not the **preferred way** if the script is being run within conky + lua using lua_load.

This is also not required if you are going to run the script as for example `lua ./luascript.lua`.

[2018-08-14 12:46] su8 commented on #565
Under Manjaro the following flags is not found, thus compilation is skipped:

https://github.com/brndnmtthws/conky/blob/0edc80bf9b7622866e752258dba66fbfa53e151a/src/journal.cc#L82

When I remove the `ifdef` it doesn't give me any error that `SD_JOURNAL_CURRENT_USER` isn't found and proceeds ahead. When I use any combination of

[code]

I get blank line, although according to https://manpages.debia

[2018-08-14 12:48] plikhari commented on #596
That line is not even looked at in conky + lua thing.

I just tested with  `#!/bin/bash` in a lua file and it still runs as lua file !

[2018-08-14 13:01] plikhari commented on #596
There is no other way to get `update_interval` from within LUA other than `conky_info` - and my `lua_startup_hook` depends on that !!

[2018-08-14 13:15] su8 commented on #596
You are using the interpreter here, that's why it ignores the shebang.

---

Add `#!/bin/bash`, `chomd +x luascript.lua` and try running it by executing `./luascript.lua`

[2018-08-14 13:37] su8 commented on #565
It consist of several changes:

[code]

and doesn't include the journal.cc overflow checks committed here - https://github.com/brndnmtthws/conky/commit/4155ac253b77ff736a1fd32ef61dde15f636b16a and here https://github.com/brndnmtthws/conky/commit/fd4ab7fc074bd498cf3708cfbee60277808c20be

[2018-08-14 13:47] lasers commented on #609
I picked hands off approach `1` because forking `2` could mean focusing less on conky since other projects may be using it too or will start to... and `3` mean supporting something stale... What if you want to deprecate `tolua++` one day?

We might have other things to deprecate too... like `audacious` and possibly `nvidia` since it does not work correctly anymore due to split drivers. Out with th

[2018-08-14 13:50] brndnmtthws commented on #609
@lasers the main problem with relying on distros to patch it is that we have no guarantee that each distro will patch it the same way, or that they will patch it at all. You could (hypothetically) have different ABIs between different distros. That sounds like a mess to me.

[2018-08-14 13:50] lasers commented on #580
@su8 Now you know. What now?

[2018-08-14 13:52] plikhari commented on #609
Well - it is the way `lua` integrates with C++ - that is how it is embedded in conky.

I would go with option 3 - you have control over tolua and it is integrated within conky.

A case in point is VLC - they were using tolua++ for 5.1 and now have tolua++ integrated for 5.3

Yes depending on distros - is unreliable for conky to work out of the box - and the performance gain is worth it

[2018-08-14 13:54] plikhari commented on #609
I do not even have lua 5.1 or 5.2 installed on my system

[2018-08-14 13:55] brndnmtthws commented on #609
For the record, I agree option 3 is the way to go.

[2018-08-14 13:56] brndnmtthws commented on #609
Let's leave this issue open for a little while for anyone who wants to weigh in.

[2018-08-14 14:02] su8 commented on #609
Point **3** :+1:

[2018-08-14 14:08] su8 commented on #580
With this config I get flickering:

[code]

When I set `update_interval=1` it takes a second or two for the bars to expand to their full width and cause 1 flickering, otherwise I don't get any flickers with `update_interval=1` when ran in the long run. Too much drawing/painting is happening perhaps :question:

[2018-08-14 14:10] lasers commented on #609
Conky is already messy. :smile:

@brndnmtthws Proceed with 3? No need to wait for anybody else imho. Get Conky up to speed.

[2018-08-14 14:11] brndnmtthws commented on #609
@lasers I'd like to wait at least a couple days to give other people a chance to speak if they have an opinion about it.

[2018-08-14 14:44] su8 commented on #580
I think we solved this issue as `"echo 51"` and `"echo 'scale=2; 51/100' | bc -q"` no longer return empty bars, the flickering alone requires another ticket to be opened.

[2018-08-14 14:45] lasers commented on #580
[code]
[code]
[code]
[code]
[code]
[code]

You'll see lot of `reading exec value failed (perhaps it's not the correct format?)`.

[2018-08-14 14:53] su8 commented on #580
`pid_popen` doesn't do variable resolution. Try this

[code]

[2018-08-14 14:54] lasers commented on #580
`${color darkorange}`

[2018-08-14 14:58] su8 commented on #580
Drop the `'` single quotes and it works:

[code]

[2018-08-14 14:58] lasers commented on #580
@su8 If you try your `10.0` patch, you'll see they're always at `10` or above. :-)  Will try quotes.

[2018-08-14 14:59] su8 commented on #580
Leave it working for like 30 seconds and you'll see that the bars are moving.

[2018-08-14 15:00] lasers commented on #580
The bars should never exceed below `10` due to `randint(10, 100)`.

[2018-08-14 15:04] su8 commented on #580
I've set the following:

[code]

and in the console we get empty string returned back to us, except sometimes we get numbers back to us:

[code]

[2018-08-14 15:05] lasers commented on #580
Yes. You understand the issue now. That's the real issue he had been trying to understand.

[2018-08-14 15:09] su8 commented on #580
So the code (exec_cb) evaluates the script `${execp /tmp/echo1.py}` and returns nothing, then it sees the `${execbar echo 44}` variable and parses it again, and evaluates that to number.

[2018-08-14 15:11] lasers commented on #580
Thoughts on skipping empty strings as a solution?

[2018-08-14 15:13] su8 commented on #580
Try this patch and see the numbers being printed correctly. It opens another `pid_popen` process and somewhere the the information gets lost.

[code]

[2018-08-14 15:18] lasers commented on #580
10-4. I see this. Good numbers everywhere.

[2018-08-14 15:48] su8 commented on #580
Turning @lasers code into 1 liners.

[code]

[2018-08-14 15:50] lasers commented on #580
[code]
to...
[code]
Yes or no :question: :question: :question: :question:

[2018-08-14 16:32] #561 closed

[2018-08-14 16:39] CottonEaster commented on #546
The problem persists with conky  conky 1.11.0. Let me give more details of my configuration.

[code]

[2018-08-14 16:58] lasers commented on #561
Duplicate https://github.com/brndnmtthws/conky/issues/546. Closed by user.

[2018-08-14 17:47] mk-fg commented on #410
Have bumped into what looks like same issue, also with enlightenment window manager and mismatched monitor resolutions.
Currently tested 4 corner aligment options, and issue only manifests with top_right and bottom_right options - bottom_left and top_left work as expected.

Using current-git version and default conky.conf with added `xinerama_head = 1` option
- `alignment = top_left` (works as exp

[2018-08-14 17:58] su8 commented on #503
Not sure if you want this:

[code]

In your config - `${bar 10 20 _ #}`

[2018-08-14 17:59] cristianc commented on #399
I've tried both 1.10.8 and 1.11.0_pre conky versions.

Here's .conkyrc:
[code]
And here's /etc/conky/conky.conf:
[code]

Here's output from terminal when launching conky:
[code]
it doesn't crash, anyway. It just disappears from desktop.

If I run conky via gdb, I get:
[code]
As expected conky doesn't crash, but it just disappears from desktop. So, if I try to stop/kill conky process from task mana

[2018-08-14 18:06] mk-fg commented on #410
Also of note - don't think I am using xinerama extention at all - it's not in Xorg.conf (which only have ServerFlags in there) and it is not mentioned in E (enlightenment) configuration anywhere (though then neither is RandR).
xrandr display setup (in the gist above) is done by E, which sets monitor resolutions and positions on start or hotplug according to its configuration (generally done via GU

[2018-08-14 18:16] lasers commented on #503
We'll work the kinks out.

* `_` and `#` must accept a `"string"`, eg `[\?color=pink pinky&show ]` as a single character. :laughing:
* `10` need to parse `"command"` (to get a percent number).

* `${bar "command}}` is minimal requirement. Asusming `_` and `#` can be set by future default configs `default_bar_fill` and `default_bar_unfill`. Unsure about per-bar width though.

[2018-08-14 18:35] lasers commented on #503
@su8 This might be too much. I'll be okay with...
`${bar (height,weight) command}` along with two fill/unfill options.

[2018-08-14 19:44] mk-fg commented on #410
Highlighted where window position seem to be calculated incorrectly in such monitor configurations in #615, with potential fix which works in my case, though not sure if it handles all possible build/config/setup variants, as I don't understand reasoning behind code that was there previously.

[2018-08-14 22:36] su8 commented on #503
[code]

In your conf `${bar 30,50 X,0 shuf -i 10-100 -n 1}`

[2018-08-14 23:44] bunder2015 commented on #431
Despite my best efforts, I cannot reproduce this at the moment, short of trying to reboot the affected machines, which I can't really do right now.  I guess I have no other choice than to close this until I can get a fresh screenshot.

[2018-08-14 23:44] #431 closed

[2018-08-15 01:25] lasers commented on #197
@su8 This worked for me with `cmake -DCMAKE_BUILD_TYPE=Release -DMAINTAINER_MODE=ON`. If I do `cmake -DMAINTAINER_MODE=ON` alone, I get various errors in diskio.cc... due to `cc1plus: all warnings being treated as errors`.

[code]

[2018-08-15 02:04] lasers commented on #430
Hi @Magicloud, could you see if https://github.com/brndnmtthws/conky/pull/615 maybe solves your issue? Thank you.

[2018-08-15 02:08] lasers commented on #410
Hi @dgiglio, could you see if #615 solves your issue? Thank you.

[2018-08-15 02:12] lasers commented on #596
@su8 Is it trivial to implement this? All conky settings, not just `update_interval`.

[2018-08-15 03:03] Magicloud commented on #430
@lasers , hi, sorry, I am not using KDE now. Cannot verify.

[2018-08-15 04:41] lasers commented on #239
@kylon Is it still a same config after few years?

Out of us all, you (and some others) are in best position to troubleshoot this issue.

Try `ps -C conky -o %cpu,%mem,cmd` from time to time to see how much it roughly used up.

Install `gnome-system-monitor` and/or `ksysguard`. See if you have this pattern too. https://github.com/brndnmtthws/conky/issues/341.

Here's my `ps`, `gnome-system-monitor

[2018-08-15 04:47] lasers commented on #191
@su8 We can close this today. Easy peasy.

[2018-08-15 07:38] su8 commented on #503
Here's a simplified patch, @lasers open up a RP with this patch ?

[code]

[2018-08-15 07:49] lasers commented on #503
I think it sucks, but we should use this for consistency with other bars.
[code]
Because we can't do `${bar #,_ "shuf -i 4-100 -n 1"}`.

[2018-08-15 07:55] su8 commented on #503
Okay sir, try this:

[code]

Now `${bar #,_ "shuf -i 4-100 -n 1"}` works.

[2018-08-15 07:57] lasers commented on #503
error: corrupt patch. no more diff. push it up. :heart:

[2018-08-15 07:59] su8 commented on #503
Do I have to open up a PR or you'll pull this commit - https://github.com/su8/conky/commit/579a2ce013dbc357c98ab299179a53876844a7c9 :question:

[2018-08-15 08:00] lasers commented on #503
I pulled it to test it., You can open if you want... More contribution credits. :wink:

[2018-08-15 08:01] lasers commented on #503
Bad at ...
[code]

[2018-08-15 08:04] su8 commented on #503
My bad, out_to_console didn't initialize the c1 and c2 to # and _. Try now.

[2018-08-15 08:07] lasers commented on #503
Same thing.

[code]
[code]

[2018-08-15 08:09] lasers commented on #503
Let's simplify it with `${bar (height,width) "command"}` and two fill/unfill options. We don't hurt the users this way.

[2018-08-15 08:27] su8 commented on #503
Can you try https://github.com/su8/conky/commit/84845fd5f064450c7fa97ee05d879136b00233c0

[2018-08-15 08:30] lasers commented on #503
Nice. Can we accept strings instead of character? eg, `'0,'1'` to print `0000000000001111`.

[2018-08-15 08:33] lasers commented on #503
@su8 You know what? This is good enough. Make a PR? :-)

[2018-08-15 08:36] lasers commented on #503
Also, we need `default_bar_fill` and `default_bar_unfill` to override other (console) bars.

[2018-08-15 08:40] su8 commented on #503
Pull the commits from my repo as I'm 2 commits behind the master branch and will override the changes we did yesterday.

[2018-08-15 08:41] lasers commented on #503
`git pull --rebase upstream master` should do it.

Replace `upstream` with whatever you have in `git remote -v`. Might be `origin` or `su8`.

[2018-08-15 08:45] su8 commented on #503
`git pull --rebase https://github.com/brndnmtthws/conky.git master` and `git push -f` thanks.

[2018-08-15 08:54] lasers commented on #503
@su8 Let's think for a bit... and not rushing.

Why don't we just use `execbar` instead? All we need to do is to add `default_bar_fill` and `default_bar_unfill`.... right?

[2018-08-15 09:29] su8 commented on #503
Done, `execbar` now takes the `bar` function.

[2018-08-15 09:33] lasers commented on #503
Nice enhancement for `{execbar}` (only in console).

We still need `default_bar_fill` and `default_bar_unfill` to change other bars though.. like `{battery_bar}`, `{volume_bar}`, `{cmus_progress}`, `{cpubar}`, etc.

[2018-08-15 11:57] su8 commented on #503
@lasers Can you test my latest commit ?

[code]

[2018-08-15 11:59] lasers commented on #503
@su8 Sure. Can you tell me why we can't have `default_bar_fill` and `default_bar_unfill` to override bars? I'm not sure if you tried or it's not possible or you don't want to.

[2018-08-15 12:00] su8 commented on #503
What's expected from `default_bar_fill` to do ?

[2018-08-15 12:01] lasers commented on #503
`default_bar_fill` replaces hardcoded `#`.
`default_bar_unfill` replaces hardcoded `_`.

For all bars. Leave `execbar` alone as-is.

[2018-08-15 12:04] su8 commented on #503
For some reason the c1 and c2 are not updated, so passing **x** and **0** doesn't work anymore :rofl:

[2018-08-15 12:11] su8 commented on #503
Here we are again, lone `${execbar x,o "shuf -i 4-100 -n 1"}` works fine, lone `${execbar 30,100 x,0 "shuf -i 5-100 -n 1"}` works fine, but when used in combination with other `${execbar "shuf -i 6-100 -n 1"}` things get overridden. Same bugs as yesterdays one and the day before that :lollipop:

[2018-08-15 12:26] kylon commented on #239
@lasers forgot about it
here is my current config (12%)

[conky.conf.txt](https://github.com/brndnmtthws/conky/files/2290066/conky.conf.txt)

everything else is the same, arch + openbox, no fancy stuff

latest master.

i did some tests with my old config, i removed all the bars, temps, freqs etc.. and the cpu usage was the same, 5-7%

but there seem to be a bug? if i remove the last cpu bar. (cpu

[2018-08-15 14:08] lasers commented on #410
Closed via https://github.com/brndnmtthws/conky/pull/615

[2018-08-15 14:08] #410 closed

[2018-08-15 14:09] lasers commented on #430
Closed via https://github.com/brndnmtthws/conky/pull/615

[2018-08-15 14:09] #430 closed

[2018-08-15 14:19] lasers commented on #89
Closed via https://github.com/brndnmtthws/conky/pull/615.

[2018-08-15 14:19] #89 closed

[2018-08-15 16:22] su8 opened #619 "New logo for conky"
Hello sir @Tobaloidee,

Can you make some logo for the awesome conky ?

Regards

[2018-08-15 17:15] Tobaloidee commented on #619
Hi @su8 nice to hear from you again..Surely! I'll make a design for awesome conky and post it here when done..thanks!

[2018-08-15 19:15] su8 opened #620 "Weather info"
@lasers Can you try this diff

[code]

In your config `${weather2 London,uk}`. Will require template usage to provide API key on the fly. This is still work in progress, as it's been ported from pinkybar.

We can parse anything in the `{"coord":{"lon":-0.13,"lat":51.51},"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04d"}],"base":"stations","main":{"temp":12.05,"pressur

[2018-08-15 19:19] lasers commented on #620
Ask @ngaro what he want to do here because he may have his own version of `weather.cc`.
[code]

[2018-08-15 19:35] su8 commented on #620
He seems to be working on rewriting it. Closing this issue :}

[2018-08-15 19:35] #620 closed

[2018-08-15 19:47] lasers commented on #314
Closing due to inactivity. This complicated feature may not be needed after all.

[2018-08-15 19:47] #314 closed

[2018-08-16 06:36] Tobaloidee commented on #619
Hi, good day! @su8 here's what i came up with..

I created a meaningful and simple design that targets the purpose of the project which is to display any kind of information on desktops. I laid it out on a light and dark background to show that it is very visible on both. It is also very visible in small sizes. I hope you like it. However, it is still open for suggestions. I picked that color (pur

[2018-08-16 07:39] su8 commented on #619
Great work, your designs are always amazing. Where does this creativity comes from :D

I like the horizontal one, @lasers what's your opinion here ?

[2018-08-16 07:40] su8 commented on #619
Can you fill the bars inside the display with real conky configs like this one for example: ![](https://upload.wikimedia.org/wikipedia/commons/2/2b/Conky-unix-program-screen-shot.png)

[2018-08-16 07:44] lasers commented on #619
@su8 Same opinion. White and calm. Would like to see smaller versions since conky often cramp things in small window.. Feels weird to see a large size font popping out. Idk. Maybe it's fine if we scale it down.

[2018-08-16 08:04] Tobaloidee commented on #619
here i made some adjustments to it from suggestions

![conky-02](https://user-images.githubusercontent.com/36028424/44196205-de6d1c80-a16d-11e8-9506-13489765861b.png)

[2018-08-16 08:05] su8 commented on #619
You nailed it my good sir :smiley:

[2018-08-16 08:08] lasers commented on #619
Can we see one without white boxes inside the `C`?

[2018-08-16 08:12] Tobaloidee commented on #619
without the white bars :)

![conky3-03](https://user-images.githubusercontent.com/36028424/44196646-10cb4980-a16f-11e8-9e46-a3332f06f78a.png)

[2018-08-16 08:13] aldenis commented on #132
Sorry for the delay, I was on vacation.
On my Debian sid machine, with conky 1.10.8, it works ok.
On my Debian stable machine, if I force the upgrade of conky to 1.10.8 from Debian sid, I still get the crash, but gdb doesn't give any usable backtrace. So it looks like the crash depends on an external library that gets updated between Debian stretch and the current sid.

[2018-08-16 08:18] su8 commented on #619
The one without the bars rocks. @lasers shall we proceed ahead and tell mister @Tobaloidee  to open up a PR ?

[2018-08-16 08:19] lasers commented on #619
I leave this to @brndnmtthws.

[2018-08-16 08:28] lasers commented on #619
It would be interesting to see what @Tobaloidee could do with the logo above. ;-)

[2018-08-16 08:32] lasers commented on #619
@su8 I think I would like to have him in the logo. Too good to pass it up.

[2018-08-16 08:46] su8 commented on #619
@lasers I don't know if we are breaching any copyrights if mister @Tobaloidee proceeds ahead with this new idea.

[2018-08-16 10:40] plikhari commented on #619
That old one was from some Canadian TV series - right - I think the new one with the white thingies is good - else the small one looks too dull.

[2018-08-16 15:32] lasers commented on #293
Okay... This issue is specifically about building with audacious support.

I see I can't compile audacious with this...
[code]

I see I can compile audacious with this...
[code]

I had no problem compiling with audacious support here (Arch Linux) and on [Docker](https://github.com/brndnmtthws/conky/blob/master/Dockerfile) too.

The website says...

Legacy, but still works with the current version

[2018-08-16 15:32] #293 closed

[2018-08-16 19:03] tupo2 opened #621 "Need help with if_match"
Hi,

${if_match "one" == "one"}${exec touch one}${endif}
${if_match "two" == "three"}${exec touch two}${endif}

Second line does not work as expected, a file "two" is created.
On the other hand, these are ok:

${if_match "one" == "one"}${exec echo one}${endif}
${if_match "two" == "three"}${exec echo two}${endif}

Can you explain me why?

[2018-08-16 21:51] lasers commented on #621
You found a bug... https://github.com/brndnmtthws/conky/issues/334... Try this... `bad_ifmatch.conf`
[code]
Run `conky -c bad_ifmatch.conf` in a terminal,  `tail -f /tmp/date.log` in another terminal.

Results:
[code]
[code]

[2018-08-16 21:51] #621 closed

[2018-08-16 23:08] plikhari opened #622 "templateN silently stops conky under certain conditions"
I run a program `conkywx.sh` with it's own config file and a template file.
Each of the files is assigned to a templateN - for example template0, template1 and template2

case 1 - works - full path using `$WX_DIR` exported path variable
[code]

case 2 - relative path - works under certain conditions
[code]
In this case 2 - at the first start of conky - that template3 directory does not exist - the

[2018-08-16 23:28] lasers commented on #622
Is this related to the recent quotes PR or entirely unrelated?

[2018-08-16 23:43] plikhari commented on #622
I do not know - I have not used quotes in either case.

I saw this during the quotes investigation but could not put a finger on it at the time.
The templateN values have to be quoted - double or single - does not matter.

In the conkywx install version - I do not foresee any issues but in the standalone version there could be issues ... I raised this issue as things worked in 1.10.8 and earlier.

[2018-08-16 23:54] lasers commented on #622
Can you do a [git-bisect](https://git-scm.com/docs/git-bisect)?

Go back before `1.10.8` to find (any) working commit. Try `1.10.0`. Still broken? Go more far back. You'll need to switch between `cmake` [_(master)_](https://github.com/brndnmtthws/conky) and `./configure + make` [_(1.9 and earlier versions)_](https://github.com/brndnmtthws/conky/wiki/Installation) until you find one... then start b

[2018-08-16 23:59] plikhari commented on #622
I have 1.10.8 as a case and it works there - I know it worked before - as I developed it way after 1.10.x came into being.

[2018-08-17 00:04] lasers commented on #622
Okay, `git bisect start`. Picking `1.10.7` mean a couple of extra commits to test. Not a big deal.
[code]
Try `909c2903` first.

[2018-08-17 01:01] plikhari commented on #622
OK let's try and understand what we are trying to investigate - versions from 1.10.0 to 1.10.8 should be our focus as going before that your configuration is totally different - though the underlying code is the same.

v1.10.0 - here relative path work - there was an issue this version with `if_existing` so it works if I comment those lines
[code]
and like I said earlier as well - version 1.10.8 w

[2018-08-17 11:44] lasers commented on #399
Few questions...

1) What DE are you using? Does this happen on other DE too?

2) Can you share them here?

I want to try and reproduce this bug. Many thanks.

[2018-08-17 11:47] lasers commented on #249
@NoXPhasma How about now on current git? We had a couple of xinerama PRs merged recently.

[2018-08-17 12:54] lasers commented on #296
@su8 Thoughts?

[2018-08-17 13:58] su8 commented on #296
On my system `df -h` shows 71% usage, while `${fs_used_percent /}` shows 67%. What shows on your systems @lasers with multiple drives ?

[2018-08-17 14:01] brndnmtthws commented on #619
@Tobaloidee thanks for the contribution.

I think [the logo here](https://github.com/brndnmtthws/conky/issues/619#issuecomment-413462991) is the one to go with.

Would you like to open a PR to add the logo to the repo? And perhaps put it into the README as well. If you have source files (svg or whatever) those would be great.

[2018-08-17 14:09] Tobaloidee commented on #619
Yes yes, i will finalize the files and make a PR..thanks thanks! :)

On Fri, Aug 17, 2018, 10:01 PM Brenden Matthews, <notifications@github.com>
wrote:

[2018-08-17 14:28] su8 commented on #296
You can close this issue :money_mouth_face:

[2018-08-17 14:31] lasers commented on #296
No config option to override `fs_` style?

[2018-08-17 14:48] cristianc commented on #399
LXDE. I can't remember if i've tried conky using another desktops.

https://bit.ly/2weJtOK   https://bit.ly/2Mmr6T8

[2018-08-17 15:01] su8 commented on #296
[code]

lone `${fs_used_perc 1 /}` works fine, but when in combination with others, the code no longer works, as it's reset to 0.

[code]

[2018-08-17 15:04] lasers commented on #296
What about `config option`  inside `conky.config`?
[code]

I don't know if `fs_root` is a good name.

[2018-08-17 15:39] su8 commented on #296
[code]

conf

[code]

[2018-08-17 15:45] lasers commented on #296
Lol. Is this right? Now I'm over by 2% instead of under by 2%.

[2018-08-17 15:47] su8 commented on #296
It's either under or over, there is no middle ground :smile_cat:

[2018-08-17 15:49] lasers commented on #296
I can find tools that uses the same space numbers as `master`, but what tools to compare this new space numbers?

[2018-08-17 16:00] lasers commented on #503
@su8 Trying this again...

What about `config option`  inside `conky.config`?
[code]

~~I don't know if `fs_root` is a good name.~~

[2018-08-17 16:04] lasers commented on #296
@geolaw @mxmlnkn @cyphaw @baobab33 Thoughts? The numbers are off too.

[2018-08-17 16:26] su8 commented on #503
Didn't reset my branch, so it contains traces of the incorrect disk usage issue:

[code]

[2018-08-17 16:39] lasers commented on #503
I tried to edit the diff. Came out fatal. Push it to your daddy master so I can test it.
Today, we close this one. No need for crazy `${8ball bars}` with tricky configs.

[2018-08-17 16:51] NoXPhasma commented on #249
Still the same, without `xinerama_head = 1` it starts on the right monitor.

[2018-08-17 16:53] Vladimir-csp opened #623 "Dynamic interface name substitution"
Following #259, please add a way to use dynamic interface names in other interface-related objects and in templates.
Either a way to feed `${iface X}` rendered value to other objects, or change interface-related objects that expect interface name as an argument to treat a numeric argument the same way as `iface` (which probably would be cleaner from config perspective).

[2018-08-17 17:49] lasers commented on #503
Closed via https://github.com/brndnmtthws/conky/pull/624.

[2018-08-17 17:49] #503 closed

[2018-08-17 18:31] lasers commented on #152
Two years 10 months 1 week passed. Do you still require this feature? Let us know. Many thanks.

[2018-08-17 18:44] su8 commented on #515
[code]

[2018-08-17 18:50] su8 commented on #515
Now `out_to_x=true/false` needs to be set explicitly, same for the `out_to_console=true/false`.

[2018-08-17 19:49] lasers commented on #515
[code]
Not updating your branch? Anyhow, send it over the best way... through git tubes.

[2018-08-17 19:59] lasers commented on #515
I went down to your level. It's one commit old and dirty. Anyhow, this work! You got everything...  Well, not everything. `memgauge` is broken for me with both settings true. Fine when I turn off `out_to_x`.

[2018-08-17 20:02] su8 commented on #515
Tomorrow will work on NIC exclusion.

[2018-08-17 20:04] lasers commented on #515
Battery status too. Should be an easy PR. Goodnight?

[2018-08-18 00:10] plikhari commented on #622
OK Here is the confirmation - there is a bug with templateN.

If I use the relative paths directly in place of using them via templateN mechanism - things work !!!

[code]

There is this value of `100000` as the `update_interval` is about **0.05**

[2018-08-18 01:34] plikhari opened #625 "execpi "interval" number is not in seconds if update interval less than 1"
In order to create a smooth motion with high frame rate we need to have a rather low `update_interval` - with a range of 0.04 to 0.07.

[code]
that value of 100000 roughly equates to 38 minutes or 2300 seconds

[2018-08-18 02:52] lasers commented on #625
Issue worth mentioning https://github.com/brndnmtthws/conky/issues/239. This happens to you too?

[2018-08-18 02:56] lasers commented on #625
@su8 We could close this today. Find out what's happening behind a (green) curtain.

[2018-08-18 03:03] plikhari commented on #625
If you see #239 - I have stated - I do not have high cpu when running any scrolling.

It depends what you are showing on the conky window and the frequency of update will determine cpu usage. What is being discussed on #239 is natural and expected behaviour.

[2018-08-18 03:39] lasers commented on #503
@su8 Is it possible to accept strings instead of characters?
[code]

[2018-08-18 06:47] murrayf commented on #152
I don't need it now. It was only an idea. Thanks.
-- Alberto --

El vie, 17 de ago 2018 a las 8:31 PM, lasers <notifications@github.com>
escribió:

[2018-08-18 06:56] lasers commented on #152
It is a great idea. I leave this to @su8 to decide what he want to do here.

_To atom, or not to atom: that's the question._  :atom_symbol:

[2018-08-18 10:52] su8 commented on #625
The current code registers the sleeping numbers

https://github.com/brndnmtthws/conky/blob/84e1eec2ed53437bfca598a714ec81f4adc00d12/src/exec.cc#L256

https://github.com/brndnmtthws/conky/blob/84e1eec2ed53437bfca598a714ec81f4adc00d12/src/exec.cc#L322-L325

but in `pid_popen()` and/or `exec_cb` there is no option to respect the sleeping intervals.

[2018-08-18 12:08] plikhari commented on #625
Yes I understand - it was just that I saw the value and wanted to see if there was a way to fix the glitch.

It would be great if we could have all config values in conky_info table and very simple dumb variables - nothing complicated like templateN.

[2018-08-18 12:08] #625 closed

[2018-08-18 12:16] lasers commented on #625
@brndnmtthws Do you want to mention anything about this issue? Thx.

[2018-08-18 12:28] murrayf commented on #152
Ok. Thank you.
-- Alberto --

El sáb, 18 de ago 2018 a las 8:56 AM, lasers
<notifications@github.com> escribió:

[2018-08-18 13:02] plikhari commented on #152
You are looking for this - RSS in [smooth scrolling conky window](https://image.ibb.co/guA7se/Screenshot_2018_08_18_18_26_05.png) this is done in LUA+Cairo. With LUA as the scripting language for conky - it opens a whole new vista for people to be creative.

[2018-08-18 15:05] murrayf commented on #152
Thank you too, Paramvir...
:)
-- Alberto --

El sáb, 18 de ago 2018 a las 3:02 PM, Paramvir
<notifications@github.com> escribió:

[2018-08-18 15:31] su8 commented on #152
@lasers It's much more easier to do parsing in scripting languages such python/perl/ruby/lua than in C.

Just for reference there are [161 python repositories](https://github.com/search?l=Python&o=desc&q=rss+parse&s=stars&type=Repositories) that do rss parsing.

Just look at the table to the left how many languages do rss parsing and their repositories, pick the language that you are most familiar

[2018-08-19 01:46] CottonEaster opened #627 "Conky hangs for about a minute upon resumption from sleep"
This bug report is a revised version of #546, because I have discovered that the problem is wider, and thereby worse, that I had reported there. (I have closed that old bug report.)

The problem is that Conky hangs - seemingly totally - for about a minute (perhaps two minutes) upon resumption from sleep.

My setup:

[code]

My computer: Lenovo ThinkPad X1 Carbon, 6th Generation. Kernel 4.18.1-0418

[2018-08-19 01:46] CottonEaster commented on #546
Re-opened as #627.

[2018-08-19 01:46] #546 closed

[2018-08-19 02:41] CottonEaster commented on #627
I can post my Conky, but it is fairly large and it runs about eight other program (a few C, mostly bash, and  three lua).

[2018-08-19 04:25] dbriba commented on #627
You say that your Concy use three lua but in your conky version I don't see lua binding. I have
` ~$ conky --version
conky 1.10.8_pre compiled Mon Jun 11 14:16:29 CEST 2018 for Linux 4.16.14-300.fc28.x86_64 x86_64

Compiled in features:

System config file: /etc/conky/conky.conf
Package library path: /usr/lib64/conky

 General:
  * math
  * hddtemp
  * portmon
  * IPv6
  * Curl
  * RSS
  * Weather

[2018-08-19 06:30] CottonEaster commented on #627
The Conky build system complains:

[code]
But I have many lua5.1 packages installed (but lack the apt 'fu' to know how to list them in a terminal).

[2018-08-19 06:32] CottonEaster commented on #263
I have the same problem (#627).

[2018-08-19 06:46] lasers commented on #263
Don't `cmake` alone. See if this works.
[code]

[2018-08-19 06:55] lasers commented on #627
In the future, please update issue #546 via editing or if it's new information, make new comments so it would be easier for everybody to follow issues and/or conversations. Both looks too similar. :-)

[2018-08-19 06:59] lasers commented on #627
[code]

[2018-08-19 08:49] lasers commented on #152
@su8 Right you are. That's a great idea. I see you console heart some of the atom tools too. Wink, wink.

@murrayf It is most likely better to `execi 1800` scripts and/or atom polished tools as @su8 suggested... instead of having him implement something very basic and/or poor atom support in conky.

Also, the users can control feed output better by not depending on small number of atom variables a

[2018-08-19 08:49] #152 closed

[2018-08-19 11:44] lasers commented on #515
Update, plz, @su8. You almost got this in the bag. <3

[2018-08-19 11:54] su8 commented on #515
[code]

[2018-08-19 12:00] lasers commented on #515
`memgraph` ?

[code]

[2018-08-19 12:28] lasers commented on #515
Try `${memgraph 10,50}`. It works fine here, but `100` might be too long for console's taste. Lmk.

[2018-08-19 12:56] su8 commented on #515
`new_graph_in_shell()` is broken, conky is running from nearly 5 minutes and still got nothing, but with `${memgraph 10,50}` on `out_to_x` I got it working right away.

[2018-08-19 13:05] lasers commented on #515
This is with your latest patch. Dunno about before.

![2018-08-19-075925_868x927_scrot](https://user-images.githubusercontent.com/852504/44309085-9248f480-a386-11e8-828e-6f21c8376b29.png)

[2018-08-19 13:08] lasers commented on #515
`memwithbuffersbar` is not respecting me... Tell it to respect me or it gets the lotion.

[2018-08-19 13:08] su8 commented on #515
On my system even with ram load `stress --vm-bytes $(awk '/MemAvailable/{printf "%d\n", $2 * 0.9;}' < /proc/meminfo)k --vm-keep -m 1`, I can't get `out_to_console` to work properly, it shows nothing, but on X I get it working.

[2018-08-19 13:10] lasers commented on #515
Does this happen on `Manjaro` liveCD too?

[2018-08-19 13:11] su8 commented on #515
I'm compiling a new kernel, will have to wait 10 minutes.

[2018-08-19 13:13] su8 commented on #515
`memwithbuffers` doesn't depend on X and console.

[2018-08-19 13:14] su8 commented on #515
I just confused memwithbuffers with memwithbuffersbar lol.

[2018-08-19 13:17] su8 commented on #515
Both memwithbuffers/bar are working fine:

[code]

[2018-08-19 13:47] su8 commented on #515
On manjaro memgraph is working correctly. Go ahead and open up a PR with this patch, as on your branches conky-ci runs fine without any complains :D

[2018-08-19 14:01] lasers commented on #515
I want your contributions to be counted because you're really a good contributor so I am not concerned at all about duplicate issues. You should be able to have many ~~cookies~~ contributions as you want. :star2:

[2018-08-19 14:08] su8 commented on #515
But I've already opened a PR and everything will be sneaked in into #626

[2018-08-19 14:14] lasers commented on #515
That's why you need to learn how to make branches. :-)

Always keep your `master` clean. From there, do `git checkout -b su8-fixes-515` as it'll be based off the current branch (eg `master`), then now you're on a different branch (you can check this first with `git status`)... Add your code in there and push it out to `upstream`... I assume `git push --force upstream`.

[2018-08-19 14:26] lasers commented on #515
`git reset --hard upstream/master` on your `master`, then `git checkout -b su8-fixes-515`... then `git apply /tmp/su8-patch-above.txt`...

[2018-08-19 16:33] su8 commented on #191
What's about to be changed exactly ?

So he/she/it would like a new variable called `${battery_status}` to be added ?

[2018-08-19 16:43] lasers commented on #191
Yes... So he/she/it want to `if_match` against `discharging`. He/she/it claims he/she/it can't `if_match` because of the percents, but we know that's not true... because technically,  he/she/it can make all 100 `if_match` lines, one for each percent, but no, he/she/it want an easy life... so he/she/it files this issue instead of working his/her/it ass off... So we need to fix this to make him/her/

[2018-08-19 16:47] su8 commented on #191
Okay that's easy then.

[2018-08-19 16:47] su8 commented on #191
With Upper or Lower Case to print the status ?

[2018-08-19 16:49] lasers commented on #191
I think leave it as-is, which is Upper.... based on `/sys/class/power_supply/BAT0/status`.

[2018-08-19 16:59] su8 commented on #191
Can you test this diff since I no longer have laptop:

[code]

[2018-08-19 17:02] lasers commented on #191
No more diffs. From now on, link me to your branches. I have rarely used laptop here. Can test. Gotta update system (Idk when last time), install build essentials, install conky, etc.

[2018-08-19 17:04] su8 commented on #191
https://github.com/su8/conky/tree/su8-fixes-191 , https://github.com/su8/conky/commit/87a39d5e669c8139779ed2fa560603da238a762c

[2018-08-19 17:10] lasers commented on #191
This does not seems to remove `battery_short` and other things I wanted to break?

[2018-08-19 17:25] lasers commented on #191
Then he/she/it should update their config... to `${battery_status} ${battery_percent}`. In fact, `${battery_short}` looks too damn like `${battery_percent}` so I'm not convinced that it's useful to keep it. Also, our He/she/it want `${battery_status}` to display icons instead. It can be done exactly the same way to display single characters.

[2018-08-19 17:28] su8 commented on #191
While waiting on your reply to see whether the code is working, I'll be watching a movie :blush:

[2018-08-19 17:32] lasers commented on #191
Dusting off old `Manjaro` i3wm.

![2018-08-19-122842_1920x1200_scrot](https://user-images.githubusercontent.com/852504/44311379-e87c5e80-a3ab-11e8-8ed2-6d7630b5e36b.png)

[2018-08-19 18:00] dbriba commented on #627
Have you the lua devel installed ?
To see what lua packages are installed :
`sudo apt list --installed | grep -i lua`

[2018-08-19 20:32] CottonEaster commented on #627
@dbriba

[code]

[2018-08-19 21:51] lasers commented on #263
I didn't realize I double-pasted the code above. You effing ran this...
[code]
No wonder why it's forcefully working now.

We can close this now after 2 years 3 months because this worked okay on my side, worked okay on your side too, and probably work okay on @su8' side too. Otherwise, I'm still closing this due to inactivity because it has been 1 year 3 months since my first comment here... and

[2018-08-19 21:51] #263 closed

[2018-08-19 22:42] CottonEaster commented on #263
Clearly I was putting the 'blind' into 'blind cut and paste'.

Bad news though: one does get the error message if one runs unadorned 'cmake', and/but tells the terminal GUI to build lua support. So isn't that still a bug?

[2018-08-20 01:50] Tobaloidee commented on #619
here's the PR  #630 for the logo upload & readme update.

You can also get all the different versions and file formats like SVG-PNG-Ai on this [LINK](https://drive.google.com/drive/folders/1RS3LGbzB-5pk4-4YyNHa3sdhUm1BbaDb)

Thanks and my best regards to the project!

-Tobaloidee

[2018-08-20 03:53] dbriba commented on #627
Chez moi, qui sius sous fedora j'ai ceci
` rpm -qa | grep -i lua
lua-expat-1.3.0-12.fc28.x86_64
tolua++-1.0.93-22.fc28.x86_64
lua-devel-5.3.4-10.fc28.x86_64
lua-5.3.4-10.fc28.x86_64
lua-socket-3.0-0.17.rc1.fc28.x86_64
lua-lpeg-1.0.1-5.fc28.x86_64
lua-posix-33.3.1-8.fc28.x86_64
lua-libs-5.3.4-10.fc28.x86_64
compat-lua-devel-5.1.5-10.fc28.x86_64
tolua++-devel-1.0.93-22.fc28.x86_64
compat-lua-libs-5.

[2018-08-20 04:58] CottonEaster commented on #627
Running conky with the debug flag does not reveal anything. For, all debug output just stops for the period when the network is offline - for, to repeat, the cause of the problem does seem to be lack of network.

Yet, let me be more specific than I have been in this thread hitherto.

Conky hangs for about a minute when, and always when, both of the following conditions obtain:

(1a) the computer r

[2018-08-20 05:07] CottonEaster commented on #627
I think the problem might involve the bug reported on [this page](https://askubuntu.com/questions/761180/wifi-doesnt-work-after-suspend-after-16-04-upgrade), viz., the network won't always reconnect after sleep. I have a script that restarts networkManager, in order to work around that problem. Even once the manager has restarted and the network is working, conky remains frozen, though.

[2018-08-20 05:12] CottonEaster commented on #627
@dbriba

So, our packages are slightly different? But anyway I am unconvinced this is a lua problem . .

[2018-08-20 08:35] su8 commented on #515
How do I get the diff between two commits that have been committed and pushed already ? I mean to get the diff locally. I'd like to have my contributions as diffs and upload them to google drive, instead keeping multiple conky repos each renamed to conky-with-this-contribution.

[2018-08-20 08:44] su8 commented on #515
Just found it out, `git log` followed by `git diff COMMIT_SHA`

[2018-08-20 08:45] lasers commented on #515
You locally have one conky repo (or dir) containing commits, hashes, branches, etc. It's more efficient to use branches than making diffs and uploading them to google drive since the branches can track changes for most parts.

I think you rush ask me this question so it's hard for me determine what you want to do here. You can view/produce diffs via `git diff hashone hashtwo`, `git log -p hashone

[2018-08-20 08:46] su8 commented on #515
`git diff LATEST_COMMIT` doesn't work if the latest commit is the one that I want.

[2018-08-20 08:48] lasers commented on #515
It works. It's likely not what you want so try different command. Sometimes I get branches or hashes switched up... or you even can use `hashone...hashtwo` (starting point to end point). `git` is too complicated for everybody to master.

Sometimes I try 10 commands to find what I want. :-)

[2018-08-20 08:49] su8 commented on #515
Duh I was trying to get the HEAD diff, lol.

[2018-08-20 08:50] lasers commented on #515
@su8 Wow, that screenshot is awful. That's what branches are for... so it keeps everything really nice and super crazy organized. All you have to do is to give it a name, lol... then your commits will be found there under that name.

[2018-08-20 09:04] lasers commented on #515
@su8 Earlier, I have 420 branches for py3status. I have to go through them all... checking them out, updating them, sometimes rebasing due to conflicts, and whatnot. Now I'm collaborator there, I'm trying to clean everything out... Imagine if I had 420 folders. Lol.

To get you organized, I think you need to make sure you're on latest `master`, then always work on a new branch (good habit, otherwi

[2018-08-20 09:39] lasers commented on #263
@su8 can answer this better than me.

[2018-08-20 18:10] su8 commented on #515
Close this as #628 have been merged ?

[2018-08-20 19:00] #515 closed

[2018-08-21 10:31] su8 opened #636 "Does a new ${github_notifications} variable makes sence ?"
I'm willing to write a new variable `${github_notifications}` that parses all unread github notifications and counts them up.

Does it makes sense to add it in conky :grey_question:

edit: How often it should call the github API to obtain the current notifications status, I've set it to 60 seconds.

[2018-08-21 11:27] lasers commented on #636
Yes to all questions. :octocat:

[2018-08-21 18:18] lasers commented on #636
Calm your titties down. Wait until we get this in first. :wink:

[2018-08-22 17:05] desbma commented on #523
Any progress/idea on this ?

I can still reproduce the crash frequently, if that helps I can recompile with different flags (ASAN ?), as long as it does not negatively affect performance too much.

[2018-08-22 18:39] npyl commented on #619
This can be closed now.  The logo is awesome! Thank you!

[2018-08-22 18:39] #619 closed

[2018-08-22 18:44] carlosgonzz commented on #56
Any info on wayland support?

[2018-08-22 18:47] npyl commented on #619
Just one question:  I am thinking of using the logo for the [conky-for-macOS organisation](https://github.com/Conky-for-macOS) and for [ConkyX](https://github.com/Conky-for-macOS/ConkyX)/[ManageConky](https://github.com/Conky-for-macOS/Manage-Conky).

What is the license of the logo?  Am I allowed to do it?
I am a total illiterate when it is about licenses!

Thank you! ;)

[2018-08-22 23:17] brndnmtthws commented on #619
I guess the logo would be under the GPLv3 along with the rest of the
project. Conky isn't trademarked or anything, so you're free to do as you
please with it.

On Wed, Aug 22, 2018, 14:47 npyl <notifications@github.com> wrote:

[2018-08-23 00:40] npyl commented on #619
@brndnmtthws Thank you for the info!

[2018-08-23 03:53] lasers commented on #191
Closed via https://github.com/brndnmtthws/conky/pull/631.

[2018-08-23 03:53] #191 closed

[2018-08-23 09:35] DanyGee opened #639 "Version 1.10.8 stopped to render dejavu sans as bold"
**Conky Version**
[code]
**My Config**
... ${goto 1461}${voffset -4}${**font Dejavu Sans:bold:size=16**}$color1${totalup enp0s31f6}$font${goto 1555}${voffset -24} ${upspeedgraph enp0s31f6 30,160}$color2)...
[code]
**My Distro**
[code]
**My Hardware**
[code]
Don't have the slightest idea what is causing this :thinking:

[2018-08-23 11:32] lasers commented on #639
@DanyGee Can you test the current `master` branch ?

[code]

[2018-08-23 11:50] DanyGee commented on #639
![zrzut ekranu deepin_wybierz-obszar_20180823134929](https://user-images.githubusercontent.com/26818551/44523771-622d8880-a6db-11e8-99ff-4f7ed96d5453.png)

[2018-08-23 13:27] DanyGee commented on #639
As suspected...this problem is Deepin 15.7 specific :angry:
On other distros build 1.10.8 (and up) is properly rendering bold fonts :1st_place_medal:
![zrzut ekranu z 2018-08-23 15](https://user-images.githubusercontent.com/26818551/44528091-fbaf6700-a6e8-11e8-97f9-975ae095abfc.jpg)

[2018-08-23 13:28] #639 closed

[2018-08-23 13:37] lasers commented on #639
Good. I was wondering it had to do something with conky initialization because of issues like #218.

Offtopic. That's cool retro term you have there... Wink, wink... And how do you do your pink box and arrows? It came out very nice so I'd like to learn how to do this too.

Any other helpful tips are appreciated too. :smile:

[2018-08-23 14:13] su8 commented on #639
@lasers I starred yesterday a screenshot tool that does even more than that - https://github.com/lupoDharkael/flameshot

[2018-08-23 19:37] lasers commented on #74
@su8 I notice you had been busy with JSON lately... See if you can solve this too. :rofl:

[2018-08-24 11:45] su8 commented on #74
One can you python for this job:

[code]

Where the dictionary **a** can be argv or if **python -c "import json;a=$1;print(json.dumps(a, indent=4));"** is used then a position argument can be used inside the **a** variable to supply the data.

Just quote the strings and leave the numbers untouched.

[2018-08-24 13:17] lasers commented on #74
This is for https://i3wm.org/docs/user-contributed/conky-i3bar.html.

[code]
Sometimes our variables prints quotes. We escape them with `json=true` config.

[2018-08-25 10:41] su8 commented on #620
Here's a working diff that does: fetches all of the information once and caches it to several variables - `description, wind speed, temperature, humidity and pressure`

[code]

conky config:

[code]

[2018-08-25 16:07] #636 closed

[2018-08-26 06:31] CottonEaster commented on #627
I have just had conky hang for ten minutes. It would not even respond to 'killall'.

[2018-08-27 05:29] kgreenek commented on #207
Updating the docs would be very helpful. I scoured the internet for way to long until I came across this PR.

Thanks for this feature btw, it's awesome!

[2018-08-27 11:34] su8 commented on #627
`ps -A|grep conky; sudo kill -9 conky_pid` ?

[2018-08-27 11:55] CottonEaster commented on #627
I can try that next time it happens. Hitherto I have tried `sudo killall conky`. I would rather have  a fix than  a workaround, though.

[2018-08-27 12:53] su8 commented on #523
Run conky inside gdb, crash it, `bt full`, then on line **#4  0x0000555beae157eb in human_readable**

take the address and:

[code]

[2018-08-27 14:12] su8 commented on #627
@CottonEaster Can you test other linux distro inside Live CD/qemu/virtualbox with your configuration and see whether this hang occurs ? Also can you post your config here or in https://gist.github.com ?

[2018-08-27 17:44] desbma commented on #523
@su8
Here is my `/usr/bin/conky` binary : https://www.dropbox.com/s/ozir20nkmvz71ld/conky.xz?dl=1

Unfortunately, it is not easy for me to run conky in gdb and "wait for it to crash".
I start conky at boot with a systemd service, and sometimes it crashes and I can then get the core dump, but sometimes I can run it for hours or days without issues.

[2018-08-27 18:16] su8 commented on #523
Okay thanks for the binary, can you open up the coredump that has `free` in it and run `list *0xaddress` where 0xaddress is the address attached to `free` ?

[2018-08-27 18:58] su8 commented on #523
Thanks, can you `list *0x00007fee00bfed53` ?

[2018-08-27 19:17] desbma commented on #523
No output (probably because glibc does not have debug symbols) :
[code]

In case you are fluent with x86 assembly:
[code]

I am on Arch Linux, and packages get updated very often to the last upstream version, so library address do not match anymore for some library compared to older core dumps:
[code]

Fortunately, glibc is still the same version as the one of the core dump.

[2018-08-27 19:48] su8 commented on #523
Thanks for the information. I was hoping that it would lead us to right direction and point us the incorrect `free()` usage across the code.

`human_readable()` is working fine by setting most variables to **0**, it didn't caused any segfaults.

[2018-08-28 01:53] CottonEaster commented on #627
Thanks. However: the problem manifests itself with any constancy after a long period of the computer being suspended, and - perhaps - when I have moved to a different wifi network (or from ethernet to wifi). Would a virtual machine be a good test?

[2018-08-28 09:31] lasers commented on #62
@su8 Thoughts?

[2018-08-28 09:47] su8 commented on #62
You can close this issue, as the `pre_exec` option has been removed in favour of lua, which both people demonstrated usage examples. Even if we bring back the `pre_exec` the code will be the same, `popen()` call and `read()`.

[2018-08-28 09:57] lasers commented on #62
Okay, we'll close this issue. I think we need to document well-demonstrated examples in the man page sooner or later because this is still going to be confusing for everybody.

Then again, everybody I know is still confused with their life.

[2018-08-28 12:42] lasers commented on #197
@su8 Do you still have this problem? You didn't mention anything about the command above.

[2018-08-28 12:58] su8 commented on #197
[code]

[2018-08-28 12:59] su8 commented on #197
I can run `xsltproc http://docbook.sourceforge.net/release/xsl/current/html/docbook.xsl docs.xml > docs.html`, but it

[code]

[2018-08-28 13:04] su8 commented on #197
I can also run `xsltproc lua.xsl lua.xml > lua.html` and it's fine.

[2018-08-28 13:09] lasers commented on #197
Why does it say `Permission denied` though? I'm sure the permissions looked good to you... Maybe you have a crazy locked down system that prevents this file from being read/written? One can dream.

[2018-08-28 13:29] su8 commented on #197
[code]

[2018-08-28 13:38] lasers commented on #197
Try `make VERBOSE=1`?  Otherwise, I dunno and will be going to bed. Goodnight.

[2018-08-29 14:13] lasers commented on #436
@su8 https://github.com/brndnmtthws/conky/commit/8dc1eab70b43ca21d8b4778cdaaa2ddffdb78372 :+1:  or :-1: :question:

[2018-08-29 14:19] su8 commented on #436
:taco: err :+1: :D

[2018-08-29 22:05] lasers commented on #88
Hi friends. To start things off, this issue is with an old pre.1.10 config.

I tested this issue with (new) default config on the following layouts:

![2018-08-29-161554_555x446_scrot](https://user-images.githubusercontent.com/852504/44816896-40377880-aba9-11e8-84a1-326c2d000f56.png)

The new default config contains 50+ settings. The important settings are `alignment = 'top_left'`, `gap_x = 5`, an

[2018-08-29 22:05] #88 closed

[2018-08-30 00:48] CottonEaster commented on #627
I think that the source of the problem is something other than Conky. I think that because I have changed some networking stuff on my computer and it seems to have solved the problem (though I remain unclear whether the cause is something peculiar to my computer or something in the/my Linux network stack). It does seem that there is something here Conky could handle better, but I will close the is

[2018-08-30 00:48] #627 closed

[2018-08-30 10:10] lasers commented on #622
Can you make a minimal template config so I can do a  [git bisect](https://git-scm.com/docs/git-bisect) to find an offending commit?

[2018-08-30 10:12] lasers commented on #622
(off topic). How do you do multiple `${pre_exec}` in Lua? I'm trying to get it documented.

[2018-08-30 10:37] lasers commented on #409
Hi. You closed an issue not long ago. Does this issue still stand today?

[2018-08-30 10:58] CottonEaster commented on #409
Ah. No. Closing. Thanks.

[2018-08-30 10:58] #409 closed

[2018-08-30 11:10] lasers commented on #401
Okay. This issue is old.

Okay. This issue is still old.

Okay. This config is still working.

![2018-08-30-060439_210x798_scrot](https://user-images.githubusercontent.com/852504/44848006-cb9d2200-ac1a-11e8-8b4d-9a043889cc6e.png)

Okay. This issue is most likely solved by https://github.com/brndnmtthws/conky/pull/383.

[2018-08-30 11:10] #401 closed

[2018-08-30 12:00] lasers commented on #446
@su8 Anything good from gdb? I have been running this config...
[code]
I took the dog out for a morning :hankey:  and came back. No crash whatsoever.

[2018-08-30 12:09] su8 commented on #446
Well done sir @lasers. I need to take mine for a walk to :hankey: too.

[2018-08-30 12:18] lasers commented on #446
Is it a `libcurl` issue in first place? See `#372`. OP filed issue Jan 1. PR for eve merged Jan 19.
[code]

[2018-08-30 12:41] su8 commented on #446
The following was taken from https://stackoverflow.com/questions/108183/how-to-prevent-sigpipes-or-handle-them-properly

https://sourceforge.net/p/curl/bugs/1180/

This command redirects to a HTTPS site and then to a second site that it downloads from. When after the (5+ minutes) download the initial HTTPS connection is to be shut down, the OpenSSL calls used will attempt an SSL shutdown but the s

[2018-08-30 13:19] lasers commented on #446
**Fixed in 7.32.0 - August 12 2013** - https://curl.haxx.se/changes.html#7_32_0
* `SIGPIPE: ignored while inside the library`

**Fixed in 7.34.0 - December 17 2013** - https://curl.haxx.se/changes.html#7_34_0
* `curl_multi_cleanup: ignore SIGPIPE`
* `sigpipe: factor out sigpipe_reset from easy.c`

**Fixed in 7.36.0 - March 26 2014** - https://curl.haxx.se/changes.html#7_36_0
* `multi: ignore SIGPI

[2018-08-30 13:19] #446 closed

[2018-08-30 13:43] lasers commented on #391
@su8 Can you test this too?

[2018-08-30 14:28] lasers commented on #391
@su8 Same here. I tried fewer older tags too just in case. I can't reproduce this. Can `own_window_colour` take `#hex_value`?

[2018-08-30 14:40] su8 commented on #391
I tried both **red** and **ff0000** hex value and it accepted both red colors.

[2018-08-30 14:41] lasers commented on #391
**#ff000**

[2018-08-30 14:42] su8 commented on #391
Same, it works.

[2018-08-30 14:51] lasers commented on #391
**#f9c** works too... The documentation specifically say this...

If own_window_transparent no, set a specified background colour (defaults to black).
 Takes either a hex value **(e.g. ffffff, note the lack of '#')** or a valid RGB name (see /usr/lib/X11/rgb.txt)

I guess we'll have to update the documentation. :confused:

[2018-08-30 15:13] lasers commented on #391
@su8 Thanks for testing this too. :heart_eyes: **Conclusion:** We didn't find anything.

[2018-08-30 15:13] #391 closed

[2018-08-30 16:00] su8 commented on #158
@lasers The code has been added:

https://github.com/brndnmtthws/conky/blob/ebc624c855c030ad0dd2075a9db7a03e7612bc38/src/conky.cc#L2026-L2041

[2018-08-30 17:42] lasers commented on #158
Closed via #213.

[2018-08-30 17:42] #158 closed

[2018-08-31 11:49] lasers commented on #39
Sorry, I think I was slightly wrong. `1.10.8` is outdated. Can you try the current master version?
[code]

[2018-08-31 11:56] lasers commented on #565
@SU8 WYD WITH THIS ISSUE?

[2018-08-31 13:10] su8 commented on #565
There is nothing to be done at this stage.

${journal 10 user}
I get blank line, although according to https://manpages.debian.org/testing/libsystemd-dev/SD_JOURNAL_CURRENT_USER.3.en.html SD_JOURNAL_CURRENT_USER and SD_JOURNAL_SYSTEM are correct flags, on Manjaro they return nothing. Maybe when the journal.cc module was written they worked out, but today they do nothing.

[2018-08-31 13:49] lasers commented on #397
@fonic OMFG. I can't wait to see this implemented. :scream:

[2018-08-31 18:59] su8 commented on #564
Seems like upgrading and patching lua may solve this issue - https://github.com/brndnmtthws/conky/issues/609#issuecomment-412869982

[2018-09-01 06:35] lasers commented on #143
@su8 I tested this. Everything looks okay on my end. The version, I assume, is `v1.10.0` where there could be several initial issues with conky rewritten.

If you can confirm this too on your end, then I assume we should go ahead and close this.
[code]

[2018-09-01 06:39] lasers commented on #143
Maybe @Vladimir-csp can test this? I tested with `eno1` and not virtual `bond0`, etc.